<div class="breadcrumbs">
  <div class="container">
    <div class="col-md-12">
      <ul>
        <li>Cadastros</li>
        <li>Cadastro de blocos</li>
      </ul>
    </div>
  </div>
</div>

<div class="container content">

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
  </ngx-loading>

  <div *ngIf="this.error">
    <div style="width:400px;margin-top:10px" class="alert alert-success" align="center">
      <table>
        <tr>
          <td><img src="/assets/imagens/exclamation.png" /></td>
          <td>
            <h6 style="white-space:  pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div *ngIf="this.success" align="center">
    <div style="width:400px;margin-top:10px" class="alert alert-success">
      <table>
        <tr>
          <td><img src="/assets/imagens/success.png" /></td>
          <td>
            <h6 style="white-space:  pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>


  <div class="col-md-12 search-add">
    <button ID="btnVoltar" Class="btn btn-primary pull-left" [routerLink]="['/cadastros/blocos']">Voltar para
      busca</button>

    <button ID="btnCadastrar" Class="btn btn-primary pull-left" [routerLink]="['../']" *ngIf="!this.isNew">
      Novo</button>

    <button ID="btnSalvar" (click)="cadastrarBloco()" Class="btn btn-primary pull-left">Salvar</button>
  </div>

  <br>
  <hr>
  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h5>Unidade:</h5>
      <select Class="form-control" ID="txtSede" [(ngModel)]="blocos.sedeId" name="ativo">
        <option value="">Selecione...</option>
        <option *ngFor="let item of this.sedes" [value]="item.sedeId">{{item.titulo}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h5>Descrição:</h5>
      <input type="text" maxlength="50" [(ngModel)]="blocos.descricao" ID="txtDescricao" name="descricao"
        class="form-control" placeholder="Descrição">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <br>
      <input type="checkbox" [(ngModel)]="blocos.ativo" name="ativo">Ativo:
    </div>
  </div>

</div>