<div class="breadcrumbs">
  <div class="container">
    <div class="col-md-12">
      <ul>
        <li>Cadastros</li>
        <li>Cadastro de Churrasqueiras</li>
      </ul>
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
</ngx-loading>
<div class="container content">

  <div *ngIf="this.error">
    <div style="width:400px;margin-top:10px" class="alert alert-success" align="center">
      <table>
        <tr>
          <td><img src="/assets/imagens/exclamation.png" /></td>
          <td>
            <h6 style="white-space:  pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div *ngIf="this.success" align="center">
    <div style="width:400px;margin-top:10px" class="alert alert-success">
      <table>
        <tr>
          <td><img src="/assets/imagens/success.png" /></td>
          <td>
            <h6 style="white-space:  pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <form name="form" (ngSubmit)="f.form.valid" #f="ngForm">
    <div class="col-md-12 search-add">
      <button ID="btnVoltar" Class="btn btn-primary pull-left" [routerLink]="['/cadastros/quiosque-unidade']">
        Voltar para busca</button>
      <button ID="btnNovo" Class="btn btn-primary pull-left"
        [routerLink]="['/cadastros/quiosque-unidade/cadastro']">Novo</button>
      <button ID="btnSalvar" Class="btn btn-primary pull-left" [disabled]="!f.form.valid" s
        (click)="salvar()">Salvar</button>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">


          <div class="row" *ngIf="!isNew">
            <div class="col-xs-4 col-sm-1 col-md-2 col-lg-1">
              <h5>Código:</h5>
              <input type="text" disabled required [(ngModel)]="bloqueioQuiosque.quiosqueId" ID="txtTitulo"
                name="quiosqueId" class="form-control" placeholder="Código">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" align="left">

              <h5>Unidade:</h5>
              <select Class="form-control" [(ngModel)]="bloqueioQuiosque.sedeId" #sedeId="ngModel" required
                name="sedeId">
                <option value="undefined">Selecione...</option>
                <option *ngFor="let item of this.sedes" [value]="item.sedeId">{{item.titulo}}</option>
              </select>

              <div *ngIf="sedeId.invalid && (sedeId.dirty || sedeId.touched)" style="color:red;">
                <li *ngIf="sedeId.errors.required">
                  Unidade é um campo obrigatório.
                </li>
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                  <h5>Nº da Churrasqueira</h5>
                  <input maxlength="10" type="text" #numeroQuiosque="ngModel" required
                    [(ngModel)]="bloqueioQuiosque.numeroQuiosque" name="nroChurrasqueira" class="form-control"
                    placeholder="Nº da Churrasqueira">

                  <div *ngIf="numeroQuiosque.invalid && (numeroQuiosque.dirty || numeroQuiosque.touched)"
                    style="color:red;">
                    <li *ngIf="numeroQuiosque.errors.required">
                      N da Churrasqueira é um campo obrigatório.
                    </li>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <h5>Capacidade em Pessoas</h5>
                  <input maxlength="10" type="text" disabled [(ngModel)]="bloqueioQuiosque.dataFim"
                    name="txtDataEnvioFim" class="form-control" placeholder="Capacidade em Pessoas">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <h5>Ativo:</h5>
                  <input type="checkbox" [(ngModel)]="bloqueioQuiosque.ativo" name="ativo">
                </div>
              </div>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <h5>Trocar Imagem:</h5>
              <img id="imgUnidade" [src]="imagem" height="200px" />
              <br />
              <input #file type="file" accept="image/*" (change)="onSelectFile(file.files, $event)" />
            </div>
          </div>
        </div>
      </div>

    </div>

  </form>

</div>