<div class="breadcrumbs">
  <div class="container">
    <div class="col-md-12">
      <ul>
        <li>Cadastros</li>
        <li>Cadastro de Tipo de Serviço</li>
      </ul>
    </div>
  </div>
</div>

<div class="container content">

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
  </ngx-loading>

  <div *ngIf="required" align="center">
    <div style="width:400px;margin-top:10px" class="alert alert-success">
      <table>
        <tr>
          <td><img src="/assets/imagens/exclamation.png" /></td>
          <td>
            <h6 style="white-space: pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div *ngIf="success" align="center">
    <div style="width:400px;margin-top:10px" class="alert alert-success">
      <table>
        <tr>
          <td><img src="/assets/imagens/success.png" /></td>
          <td>
            <h6 style="white-space: pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div *ngIf="erro" align="center">
    <div style="width:800px;margin-top:10px" class="alert alert-success">
      <table>
        <tr>
          <td><img style="width:42px" src="/assets/imagens/exclamation.png" /></td>
          <td>
            <h6 style="white-space: pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-md-12 search-add">
    <button ID="btnVoltar" Class="btn btn-primary pull-left" [routerLink]="['/cadastros/tipo-servico']">Voltar para
      busca</button>
    <button ID="btnNovo" *ngIf="!isNew" (click)="Novo()" Class="btn btn-primary pull-left"
      [routerLink]="['/cadastros/tipo-servico/cadastro-tipo-servico']">Novo</button>
    <button ID="btnSalvar" (click)="cadastrarTipoServico()" Class="btn btn-primary pull-left">Salvar</button>
  </div>

  <br>
  <hr>
  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h5>Código:</h5>
      <input style="width: 75px" readonly type="text" [(ngModel)]="tipoServico.tipoServicoId" ID="txtTitulo"
        name="titulo" class="form-control" placeholder="Código">


      <h5>Descrição:</h5>
      <input [ngStyle]="{'backgroundColor': this.required == true ? 'LightSalmon' : '#FAFAD9' }" maxlength="100"
        type="text" ID="txtDescricao" [(ngModel)]="tipoServico.descricao" name="descricao" class="form-control"
        placeholder="Item">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <br>
      <input type="checkbox" [(ngModel)]="tipoServico.ativo" name="ativo">Ativo:
    </div>
  </div>

</div>