<div class="breadcrumbs">
  <div class="container">
    <div class="col-md-12">
      <ul>
        <li>Cadastros</li>
        <li>Busca de Andares</li>
      </ul>
    </div>
  </div>
</div>

<div class="container content">

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
  </ngx-loading>

  <div *ngIf="this.error" align="center" class="col-xs-12">
    <div style="width:475px;margin-top:10px" class="alert alert-success center" align="center">
      <table>
        <tr>
          <td><img src="/assets/imagens/exclamation.png" /></td>
          <td>
            <h6 style="white-space:  pre;"><b>{{this.mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div *ngIf="this.success" align="center">
    <div style="width:400px;margin-top:10px" class="alert alert-success">
      <table>
        <tr>
          <td><img src="/assets/imagens/success.png" /></td>
          <td>
            <h6 style="white-space:  pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>


  <div class="col-md-12 search-add">
    <button ID="btnBuscar" (click)="buscar()" Class="btn btn-primary pull-left">Buscar</button>
    <button ID="btnCadastrar" *ngIf="permissions.btnCadastrar" Class="btn btn-primary pull-left"
      [routerLink]="['cadastro-andares']"> Cadastrar Novo
      Andar</button>
  </div>

  <br>
  <br>
  <!--                 -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h5>Código:</h5>
      <input type="text" style="height: 25px;" [(ngModel)]="andares.andarId" ID="txtCodigo" name="codigo" mask="00000"
        class="form-control" placeholder="Codigo">

      <h5>Blocos:</h5>
      <select Class="form-control" [(ngModel)]="andares.blocoId" name="Bloco">
        <option value="undefined">Selecione</option>
        <option *ngFor="let item of this.listaBlocos" [value]="item.blocoId">{{item.descricao}}</option>
      </select>

      <h5>Ordem:</h5>
      <input type="text" style="height: 25px;" [(ngModel)]="andares.ordem" class="form-control" placeholder="Sigla" mask="00000">


      <h5>Ativo:</h5>
      <select Class="form-control" [(ngModel)]="andares.ativo" name="ativo">
        <option value="true">Ativo</option>
        <option value="">Todos</option>
        <option value="false">Inativo</option>
      </select>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <!--  -->
      <h5>Unidade:</h5>
      <select Class="form-control" [(ngModel)]="andares.sedeId" (change)="carregaBlocos($event.target.value)"
        name="Unidade">
        <option value="undefined">Selecione...</option>
        <option *ngFor="let item of this.sedes" [value]="item.sedeId">{{item.titulo}}</option>
      </select>

      <h5>Sigla:</h5>
      <input type="text" ID="txtSigla" [(ngModel)]="andares.sigla" name="sigla" class="form-control" placeholder="Sigla"
        maxlength="3">

      <h5>Descrição:</h5>
      <input type="text" ID="txtDescricao" [(ngModel)]="andares.descricao" name="descricao" class="form-control"
        placeholder="Descrição">

    </div>


  </div>

  <br>


  <table *ngIf="this.listaAndares.length > 0" class="table list-users" cellspacing="0" id="ContentPlaceHolder1_grdBusca"
    style="border-collapse:collapse;">
    <tbody>
      <tr style="color:#002678;">
        <th class="th-lg"><a style="color:#002678;">Código</a></th>
        <th class="th-lg"><a style="color:#002678;">Sigla</a></th>
        <th class="th-lg"><a style="color:#002678;">Descrição</a></th>
        <th class="th-lg"><a style="color:#002678;">Ordem</a></th>
        <th class="th-lg"><a style="color:#002678;">Unidade</a></th>
        <th class="th-lg"><a style="color:#002678;">Bloco</a></th>
        <th class="th-lg"><a style="color:#002678;">Ativo</a></th>
        <th class="th-lg border-top-0" scope="col" abbr="Editar" style="width:5px;"></th>
        <th class="th-lg border-top-0" scope="col" abbr="Excluir" style="width:5px;"></th>
      </tr>

      <tr *ngFor="let item of this.listaAndares">
        <td>{{item.andarId}}</td>
        <td>{{item.sigla}}</td>
        <td>{{item.descricao}}</td>
        <td>{{item.ordem}}</td>
        <td>{{item.sede}}</td>
        <td>{{item.bloco}}</td>
        <td><input type="checkbox" value="" [disabled]="true" [(ngModel)]="item.ativo"></td>

        <td><a [routerLink]="['cadastro-andares',item.andarId]" class="glyphicon glyphicon-pencil"
            style="cursor: pointer"></a></td>
        <td><a [routerLink]="['deletar',item.andarId]" class="glyphicon glyphicon-remove"
            style="color:red; cursor: pointer"></a></td>

      </tr>

    </tbody>
  </table>


</div>