<div class="breadcrumbs">
  <div class="container">
    <div class="col-md-12">
      <ul>
        <li>Cadastros</li>
        <li>Deletar Registro</li>
      </ul>
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" id="porralouca">
</ngx-loading>
<div class="container" align="center">
  <br>
  <div class="validationsummary-question" role="alert">
    <table>
      <tr>
        <td><img src="/assets/imagens/question.png" /></td>
        <blockquote></blockquote>
        <td>
          <h6 style="white-space:  pre;"><b>Deseja realmente exluir a mídia <br>{{ mensagem }} ?</b></h6>
        </td>
      </tr>
    </table>
  </div>
  <br />
  <table align="center">
    <tr>
      <td><button ID="btnNovo" Class="btn btn-primary" (click)="deletar()">Sim</button></td>
      <td><button ID="btnNovo" Class="btn btn-primary" [routerLink]="['../../']">Não</button></td>
    </tr>
  </table>
  <hr>
</div>