.btn-tipo {
    width: 200px;
    background-color: transparent;
    border: solid 1px #f69327;
    border-radius: 13px;
    font-size: 35px;
    color: #f69327;
    margin-bottom: 10px;

    // azul: #002678
}

.cartao {
    width: 55%;
    height: 277px !important;
    margin: 0 auto;
    background-image: url("../../../../assets/imagens/cartao-backgound.jpg");
    border-radius: 15px;

    img {
        max-width: 50%;
    }

    .footer-cartao {
        padding: 3%;
        position: absolute;
        bottom: 18%;
        width: 60%;

        h5 {
            color: white
        }

        input {
            background-color: transparent !important;
            box-shadow: none;
            border-top: none;
            border-left: none;
            border-right: none;
            color: white;
        }

        ::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.808) !important;
        }

    }
}

.cartao-debito {
    width: 55%;
    height: 277px !important;
    margin: 0 auto;
    background-image: url("../../../../assets/imagens/cartao-backgound-debito.jpg");
    border-radius: 15px;

    img {
        max-width: 50%;
    }

    .footer-cartao {
        padding: 3%;
        position: absolute;
        bottom: 18%;
        width: 60%;

        h5 {
            color: white
        }

        input {
            background-color: transparent !important;
            box-shadow: none;
            border-top: none;
            border-left: none;
            border-right: none;
            color: white;
        }

        ::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.808) !important;
        }

    }
}

