<div class="breadcrumbs">
  <div class="container">
    <div class="col-md-12">
      <ul>
        <li>Operacional</li>
        <li>Realização da reserva</li>
      </ul>
    </div>
  </div>
</div>
<div class="container content">

    <div  align="center" class="alert alert-success">
      <div style="width:400px;margin-top:10px">
        <table>
          <tr>
            <td><img src="/assets/imagens/success.png" /></td>
            <td>
              <h6 style="white-space:  pre;"><b>Reserva confirmada com sucesso.</b></h6>
            </td>
          </tr>
        </table>
      </div>
    </div>
</div>