<div class="breadcrumbs">
    <div class="breadcumb">
        <div class="col-md-12">
            <ul>
                <li>Cadastros</li>
                <li>Busca de Beneficiários Titulares</li>
            </ul>
        </div>
    </div>
</div>

<div class="container content">
    <div style="width:100%;margin-top:10px; margin-bottom: 15px" class="alert alert-success" *ngIf="mensagem">
        <table>
            <tr>
                <td><img src="/assets/imagens/exclamation.png" /></td>
                <td style="padding-left: 18px">
                    <h6 style="white-space: pre; font-size: 1.3em;"><b>{{mensagem}}</b></h6>
                </td>
            </tr>
        </table>
    </div>
    <form [formGroup]="edithForm" (ngSubmit)="onSubmit()">
        <div class="filters">
            <div class="col-md-12 search-add">
                <input type="button" [routerLink]="['/operacional/associados']" value="Voltar para Busca" id="btnBusca"
                    class="btn btn-primary pull-left">
                <input type="button" [routerLink]="['/operacional/associados/cadastro',0]" value="Novo" id="btnNovo"
                    class="btn btn-primary pull-left" [disabled]="loading">
                <input type="submit" value="Salvar" id="btnNew" class="btn btn-primary pull-left" [disabled]="loading">
                <input type="button" (click)="OpenBloqueio()" value="Bloquear Acesso" id="btnBloquear"
                    class="btn btn-primary pull-left" [disabled]="loading" *ngIf="editMode">
                <input type="button" value="Resetar Senha" id="btnResetSenha" class="btn btn-primary pull-left"
                    [disabled]="loading" *ngIf="editMode">
            </div>

        </div>

        <div class="formContent">

            <div>

                <div class="row">
                    <div class="col-md-8 order-md-1">


                        <h4 class="mb-3"><b>{{titulo}}</b></h4>

                        <div class="row"
                            style="border: 4px double #e2cbb0; background-color: bisque; padding: 10px; border-radius: 4px;"
                            *ngIf="boxBloqueio==true">
                            <div class="col-md-3 mb-3">
                                <label for="bloqueadode">Bloqueado de:</label>
                                <input value="bloqueioDe" type="date" formControlName="inicioBloqueio"
                                [(ngModel)]="bloqueioFrequentadores.dataInicio" class="form-control" id="bloqueadode"
                                    placeholder="Início de bloqueio">
                            </div>

                            <div class="col-md-3 mb-3">
                                <label for="bloqueadoate">Bloqueado até:</label>
                                <input type="date" value="bloqueioAte" formControlName="fimBloqueio"
                                [(ngModel)]="bloqueioFrequentadores.dataFim" class="form-control" id="bloqueadoate"
                                    placeholder="fim de bloqueio">
                            </div>

                            <div class="col-md-3 mb-3 custom-control custom-checkbox"
                                style="margin-bottom: 10px; margin-top:10px">
                                <input type="checkbox" class="custom-control-input" id="ativo2"
                                    style="margin:0px">
                                <label class="custom-control-label" for="ativo2"
                                    style="margin:0px; margin-left: 8px; font-weight: bold">Ativo
                                </label>

                                <div class="btn-primary" style="max-width: 135px; text-align: center"
                                    (click)="buscaBloqueios()">
                                    <span>Bloquear</span>
                                </div>
                            </div>

                            <div class="col-md-12 mb-12">
                                <label for="justifica">Justificativa de Bloqueio:
                                    <br>
                                </label>
                                <textarea type="text" class="form-control" id="justifica"
                                    placeholder="Justificativa de Bloqueio" formControlName="descricaoBloqueio"
                                    [(ngModel)]="bloqueioFrequentadores.descricao"></textarea>
                            </div>

                        </div>

                        <div class="row" *ngIf="editMode">
                            <div class="col-md-6 mb-3">
                                <label for="codigo">Código:</label>
                                <input formControlName="associadoId" [(ngModel)]="associado.associadoId" type="text"
                                    class="form-control" id="codigo" disabled placeholder="" value="">

                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="ultimo_login">Último Login:</label>
                                <input formControlName="dataUltimoLogin" [(ngModel)]="associado.dataUltimoLogin"
                                    type="text" class="form-control" id="ultimo_login" disabled placeholder="" value="">
                            </div>
                        </div>

                        <div class="row" *ngIf="1==2">
                            <div class="col-md-6 mb-3">
                                <label for="aprovou">Aprovado por:</label>
                                <input formControlName="statusAprovacaoId" [(ngModel)]="associado.statusAprovacaoId"
                                    type="text" class="form-control" id="aprovou"
                                    placeholder="Usuário que aprovou o cadastro" value="" disabled>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="inativacao">Data de Inativação:</label>
                                <input type="text" class="form-control" id="inativacao" value="" disabled>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label for="nome" contenteditable="true">Nome:</label>
                                <input formControlName="nome" type="text" [(ngModel)]="associado.nome"
                                    class="form-control" id="nome" placeholder="Nome" value="" required="">
                                <div *ngIf="submitted && f.nome.errors">
                                    <div *ngIf="f.nome.errors.required">Este campo é obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label for="cpf">CPF:</label>

                                <input formControlName="cpf" type="text" [(ngModel)]="associado.cpf"
                                    class="form-control" id="cpf" placeholder="___.___.___-__" value="" required=""
                                    mask="000.000.000-00">
                                <div *ngIf="submitted && f.cpf.errors">
                                    <div *ngIf="f.cpf.errors.required">Este campo é obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label for="email">Email</label>
                                <input formControlName="email" type="email" [(ngModel)]="associado.email"
                                    class="form-control" id="email" placeholder="Email">
                                <div *ngIf="submitted && f.email.errors">
                                    <div *ngIf="f.email.errors">Digite um e-mail válido</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="dana_nascimento">Data de Nascimento:</label>
                                <input formControlName="dataNascimento" type="date"
                                    [(ngModel)]="associado.dataNascimento" class="form-control" id="dana_nascimento"
                                    placeholder="" value="">
                                <div *ngIf="submitted && f.dataNascimento.errors">
                                    <div *ngIf="f.dataNascimento.errors.required">Este campo é obrigatório</div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="sexo" contenteditable="true">Sexo:</label>
                                <select formControlName="sexo" class="form-control" [(ngModel)]="associado.sexo"
                                    id="sexo" placeholder="Selecione o sexo">
                                    <option value="M">Masculino</option>
                                    <option value="F">Feminino</option>
                                </select>
                                <!-- <div class="invalid-feedback" *ngIf="f.sexo.errors.required"> Este campo é obrigatório. </div> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="telefone">Telefone:</label>
                                <input mask="(00) 00000-0000" formControlName="telefone"
                                    [(ngModel)]="associado.telefone" type="text" class="form-control" id="telefone"
                                    placeholder="Telefone" value="">

                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Nº Funcional:</label>
                                <input formControlName="nrFuncional" [(ngModel)]="associado.nrFuncional" type="text"
                                    class="form-control" id="lastName" placeholder="Nº Funcional" value=""
                                    mask="0000000000">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">Indicador de Folha:</label>
                                <input formControlName="indFolha" [(ngModel)]="associado.indFolha" type="text"
                                    class="form-control" id="firstName" placeholder="Indicador de Folha" value="">

                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Faixa Salarial:</label>
                                <input formControlName="faixaSalarial" [(ngModel)]="associado.faixaSalarial" type="text"
                                    class="form-control" id="lastName" placeholder="Faixa Salarial" value="">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">Código do Departamento:</label>
                                <input formControlName="codDepartamento" [(ngModel)]="associado.codDepartamento"
                                    type="text" class="form-control" id="firstName"
                                    placeholder=" Código do Departamento" value="">

                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="polo">Pólo Administrativo:</label>
                                <input formControlName="poloAdministrativo" [(ngModel)]="associado.poloAdministrativo"
                                    type="text" class="form-control" id="polo" placeholder="Pólo Administrativo"
                                    value="">

                            </div>
                        </div>

                        <div>
                            <h4 class="mb-3"><b>Informações Bancárias</b></h4>

                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <label for="banco">Banco:</label>
                                    <input formControlName="banco" [(ngModel)]="associado.banco" type="text"
                                        class="form-control" mask="0*" maxlength="4" id="bacno" placeholder="Nome do Banco">

                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="agencia">Agência:</label>
                                    <input type="text" formControlName="agencia" [(ngModel)]="associado.agencia"
                                        class="form-control" mask="0*" maxlength="4" id="agencia" placeholder="Código da Agência">

                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="cc">Conta Corrente:</label>
                                    <input formControlName="contaCorrente" [(ngModel)]="associado.contaCorrente"
                                        type="text" mask="0*" class="form-control" id="cc" placeholder="Nº da conta corrente">

                                </div>

                                <div class="col-md-3 mb-3">
                                    <label for="digitocc">Dígito CC:</label>
                                    <input formControlName="contaCorrenteDig"  [(ngModel)]="associado.contaCorrenteDig"
                                        type="text"  mask="0*" maxlength="2"class="form-control" id="digitocc" placeholder="Dígito CC">
                                </div>

                            </div>
                            <hr class="mb-12">
                            <br/>
                        </div>

                        <div *ngIf="associado.associadoId != null">
                            <h4 class="mb-3"><b>Dependentes Cadastrados</b></h4>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <table class="table table-striped" *ngIf="items" formArrayName="dependentes">
                                        <thead>
                                            <tr>
                                                <th scope="col col-max">Nome</th>
                                                <th scope="col col-max">Status</th>
                                            </tr>
                                            
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let dependente of dependentesL">
                                                <td class="col-max" *ngIf="dependente.ativo == true">{{dependente.nome}}</td>
                                                <td class="col-max" *ngIf="dependente.ativo == true">{{dependente.poloAdministrativo}}</td>
                                                <td class="col-cmd" *ngIf="dependente.ativo == true">
                                                    <a href="javascript:void(0)"
                                                        [routerLink]="['/operacional/dependente/cadastro/',dependente.associadoId]">
                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                    </a>
                                                </td>

                                                <td class="col-cmd" *ngIf="dependente.ativo == true">
                                                    <a href="javascript:void(0)"
                                                        [routerLink]="['../../deletar',dependente.associadoId]">
                                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>

                            <div class="btn-primary" style="max-width: 135px; text-align: center"
                                (click)="goToDependente(associado.associadoId)">
                                <span>Incluir Dependente</span>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 order-md-2">

                        <!-- <h4 class="d-flex justify-content-between mb-3"> <span class="text-muted">Avatar</span> </h4> -->
                        <img class="img-fluid d-block img-thumbnail" style="width: 100%;vertical-align: middle;"
                            [src]="imgURL" onerror="this.src='../../../../assets/imagens/silhuetamasculina.png'">
                        <!-- https://static.pingendo.com/img-placeholder-3.svg -->

                        <div class="p-2 my-4" style="margin-top: 10px; margin-bottom:10px; padding-left: 27px">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <input type="file" id="fileAvatar" style="display: none" #file accept='image/*'
                                        (change)="preview(file.files)">
                                    <input type="button" (click)="OpenFile()" value="Alterar Imagem" id="btnAvatar"
                                        class="btn btn-secondary pull-left" style="width:100%">
                                </div>
                            </div>
                        </div>

                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between">
                                <div>
                                    <div class="form-group">
                                        <label>Estado Civil:</label>
                                        <select formControlName="estadoCivil" [(ngModel)]="associado.estadoCivil"
                                            class="form-control" id="estado_civil" placeholder="Estado Civil">
                                            <option value="">Selecione...</option>
                                            <option value="01">Casado</option>
                                            <option value="08">Desquitado</option>
                                            <option value="05">Desquitado/Divorciado</option>
                                            <option value="09">Divorciado</option>
                                            <option value="07">Marital/companheiro</option>
                                            <option value="04">Solteiro</option>
                                            <option value="06">Viúvo</option>
                                        </select>

                                    </div>

                                    <div class="form-group">
                                        <label for="inicio_ferias">Início de férias/licença:</label>
                                        <input formControlName="dtInicioFeriasLicensa"
                                            [(ngModel)]="associado.dtInicioFeriasLicensa" type="date"
                                            class="form-control" id="inicio_ferias"
                                            placeholder="Data de nício de férias/licença">
                                    </div>

                                    <div class="form-group">
                                        <label for="departamento">Departamento:</label>
                                        <input formControlName="departamento" [(ngModel)]="associado.departamento"
                                            type="text" class="form-control" id="departamento"
                                            placeholder="Departamento">
                                    </div>

                                    <div class="form-group">
                                        <label for="local_trabalho">Local de Trabalho:</label>
                                        <input formControlName="localTrabalho" [(ngModel)]="associado.localTrabalho"
                                            type="text" class="form-control" id="local_trabalho"
                                            placeholder="Local de Trabalho">
                                    </div>

                                    <div class="form-group">
                                        <label for="codigo_empresa">Código da Empresa:</label>
                                        <input formControlName="codEmpresa" [(ngModel)]="associado.codEmpresa"
                                            type="text" class="form-control" id="codigo_empresa"
                                            placeholder="Código da Empresa">
                                    </div>

                                    <hr class="mb-4">
                                    <div class="custom-control custom-checkbox" style="margin-bottom: 10px">
                                        <input type="checkbox" class="custom-control-input" id="ativo"
                                            formControlName="ativo" style="margin:0px">
                                        <label class="custom-control-label" for="ativo"
                                            style="margin:0px; margin-left: 8px; font-weight: bold">Ativo</label>
                                    </div>

                                    <!-- <div class="custom-control custom-checkbox" style="margin-bottom: 10px">                
                                        <input type="checkbox" class="custom-control-input" id="bloqueado" style="margin:0px" formControlName="bloqueado" > <label
                                          class="custom-control-label" for="bloqueado"  style="margin:0px; margin-left: 8px; font-weight: bold"  >Bloqueado</label> 
                                    </div>  -->

                                    <div class="custom-control custom-checkbox" style="margin-bottom: 10px">
                                        <input type="checkbox" class="custom-control-input" id="tourinsc"
                                            style="margin:0px" formControlName="exibeTourInscricao">
                                        <label class="custom-control-label" for="tourinsc"
                                            style="margin:0px; margin-left: 8px; font-weight: bold">Exibe tour
                                            inscrição</label>
                                    </div>

                                    <div class="custom-control custom-checkbox" style="margin-bottom: 10px">
                                        <input type="checkbox" class="custom-control-input" id="touringresso"
                                            style="margin:0px" formControlName="exibeTourIngresso">
                                        <label class="custom-control-label" for="touringresso"
                                            style="margin:0px; margin-left: 8px; font-weight: bold">Exibe tour
                                            ingresso</label>
                                    </div>

                                    <div class="custom-control custom-checkbox" style="margin-bottom: 10px">
                                        <input type="checkbox" class="custom-control-input" id="receberprog"
                                            style="margin:0px" formControlName="permiteEmailComunicacoes">
                                        <label class="custom-control-label" for="receberprog"
                                            style="margin:0px; margin-left: 8px; font-weight: bold">Permite receber
                                            programação por e-mail
                                        </label>
                                    </div>

                                    <hr class="mb-4">
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>

    </form>
</div>