<div class="breadcrumbs">
  <div class="container">
    <div class="col-md-12">
      <ul>
        <li>Cadastros</li>
        <li>Cadastro de Unidades</li>
      </ul>
    </div>
  </div>
</div>

<div class="container content">

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
  </ngx-loading>

  <div *ngIf="exibeFormulario" id="formularioPincipal">

    <div *ngIf="required" align="center">
      <div style="width:400px;margin-top:10px" class="alert alert-success">
        <table>
          <tr>
            <td><img src="/assets/imagens/exclamation.png" /></td>
            <td>
              <h6 style="white-space: pre;"><b>{{mensagem}}</b></h6>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div *ngIf="success" align="center">
      <div style="width:400px;margin-top:10px" class="alert alert-success">
        <table>
          <tr>
            <td><img src="/assets/imagens/success.png" /></td>
            <td>
              <h6 style="white-space: pre;"><b>{{mensagem}}</b></h6>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div *ngIf="erro" align="center">
      <div style="width:800px;margin-top:10px" class="alert alert-success">
        <table>
          <tr>
            <td><img style="width:42px" src="/assets/imagens/exclamation.png" /></td>
            <td>
              <h6 style="white-space: pre;"><b>{{mensagem}}</b></h6>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-md-12 search-add">
<!-- <<<<<<< HEAD
        <button ID="btnVoltar" Class="btn btn-primary pull-left" [routerLink]="['/cadastros/unidades']">Voltar para busca</button>
        <button ID="btnNovo" Class="btn btn-primary pull-left" [routerLink]="['/cadastros/unidades/cadastro']">Novo</button>
        <button ID="btnSalvar" Class="btn btn-primary pull-left" (click)="cadastrarSede()">Salvar</button>
        <button ID="btnGaleria" *ngIf="this.isNew == false" Class="btn btn-primary pull-left" (click)="exibirGaleria()">Galeria</button>
        <button ID="btnBloquear" Class="btn btn-primary pull-left" (click)="bloquearAcesso()">Salvar</button>
======= -->

      <button ID="btnVoltar" Class="btn btn-primary pull-left" [routerLink]="['/cadastros/unidades']">Voltar para
        busca</button>
      <button ID="btnNovo"  Class="btn btn-primary pull-left" (click)="isLoading()"
        [routerLink]="['/cadastros/unidades/cadastro']">Novo</button>
      <button ID="btnSalvar" Class="btn btn-primary pull-left" (click)="cadastrarSede()">Salvar</button>
      <button ID="btnGaleria" *ngIf="this.isNew == false" Class="btn btn-primary pull-left"
        (click)="exibirGaleria()">Galeria</button>
    </div>

    <br>
    <hr>
    <br>



    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" align="left">

        <h5>Código:</h5>
        <input style="width: 75px" readonly type="text" [(ngModel)]="sede.sedeId" ID="txtTitulo" name="titulo"
          class="form-control" placeholder="Código">

        <h5>Unidade:</h5>
        <input [ngStyle]="{'backgroundColor': this.required == true ? 'LightSalmon' : '#FAFAD9' }" type="text"
          [(ngModel)]="sede.titulo" ID="txtTitulo" name="titulo" class="form-control" placeholder="Unidade">

        <br />
      </div>
    </div>

    <div class="row">



      <br>
      <div class="row" *ngIf="this.isNew == false">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <table class="table list-users" cellspacing="0" style="border-collapse:collapse;"
              *ngIf="exibirDestinatarios">
              <tbody>

                <tr style="color:#002678;">
                  <th class="th-lg"><a style="color:#002678;">Destinatário</a></th>
                  <th class="th-lg"><a style="color:#002678;">E-mail destinatário</a></th>
                  <th class="th-lg"><a style="color:#002678;">Ativo</a></th>
                  <th class="th-lg border-top-0" scope="col" abbr="Editar" style="width:5px;"></th>
                  <th class="th-lg border-top-0" scope="col" abbr="Excluir" style="width:5px;"></th>
                </tr>

                <tr *ngFor="let item of this.lstSedeEmails">
                  <td>{{item.nome}}</td>
                  <td>{{item.email}}</td>
                  <input type="checkbox" [checked]="item.ativo" name="ativo" disabled>
                  <td><a class="glyphicon glyphicon-pencil" (click)="openModalEdit(template, item.sedeEmailId)"
                      style="cursor: pointer"></a>
                  </td>
                  <td><a class="glyphicon glyphicon-remove" style="color:red; cursor: pointer"
                      (click)="openModalDel(templateDel, item.sedeEmailId)"></a></td>
                </tr>

              </tbody>
            </table>

            <button type="button" class="btn btn-primary" style="float:right" (click)="openModal(template)">Cadastrar
              Destinatário</button>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">


        <h5>Descrição:</h5>
        <ckeditor [editor]="Editor" [(ngModel)]="sede.descricao" data="(Descrição)">
        </ckeditor>


      </div>






      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">




      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h5>E-mail</h5>
              <input maxlength="70" [ngStyle]="{'backgroundColor': this.required == true ? 'LightSalmon' : '#FAFAD9' }"
                type="text" [(ngModel)]="sede.email" ID="txtSede" name="unidade" class="form-control"
                placeholder="E-mail">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h5>Endereço:</h5>
              <input maxlength="100" type="text" [(ngModel)]="sede.endereco" ID="txtSede" name="Endereço"
                class="form-control" placeholder="Endereço">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <h5>Número:</h5>
              <input maxlength="10" type="text" [(ngModel)]="sede.numero" ID="txtNumero" name="numero"
                class="form-control" placeholder="Numero">
            </div>


            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <h5>Cep:</h5>
              <input (keyup)="Mascara()" maxlength="9" data-mask="99999-999" data-mask-selectonfocus="true" type="text"
                [(ngModel)]="sede.cep" ID="txtCep" name="Cep" class="form-control" placeholder="CEP">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h5>Complemento:</h5>
              <input type="text" [(ngModel)]="sede.complemento" ID="txtComplemento" name="complemento"
                class="form-control" placeholder="Complemento">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h5>Estado:</h5>
              <select Class="form-control" [(ngModel)]="sede.estado" name="estado">
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santos</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <h5>Qtd Visitantes:</h5>
              <input maxlength="5" (keyup)="Mascara()" (keydown)="Mascara()" type="text"
                [(ngModel)]="sede.qtdVisitantes" ID="txtQtdVisitantes" name="numero" class="form-control"
                placeholder="00">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <h5>Qtd Associados:</h5>
              <input maxlength="5" (keyup)="Mascara()" (keydown)="Mascara()" type="text"
                [(ngModel)]="sede.qtdAssociados" ID="txtQtdAssociados" name="Cep" class="form-control" placeholder="00">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <h5>Ativo:</h5>
              <input type="checkbox" [(ngModel)]="sede.ativo" name="ativo">
            </div>

          </div>
          <br />
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <input #file type="file" (change)="upload(file.files)" />
              <br />
              <img id="imgUnidade" *ngIf="Imagem()" [src]="_sanitizer.bypassSecurityTrustUrl(imagem)" height="180px"
                width="220px" />
            </div>
          </div>

        </div>
      </div>



    </div>


  </div>












  <div *ngIf="exibeGaleria" id="galeriaImagens">
    <div class="col-md-12 search-add">
      <input type="button" (click)="exibirGaleria()" value="Voltar" class="btn btn-primary pull-left">
    </div>


    <div class="col-md-12 search-add">
      <h5>Selecione as Imagens:</h5>
      <input id="fileUploadGaleria" #file type="file" multiple (change)="guardaImagemGaleria(file.files)" />
      <br />
      <input type="button" (click)="uploadImagemGaleria()" value="Adicionar Fotos" class="btn btn-primary pull-left">
      <input type="button" (click)="RemoverFotosSelecionadas()" value="Remover Selecionadas"
        class="btn btn-primary pull-left">
    </div>

    <!-- 
      <div class="col-md-12 search-add">

      </div> -->



    <div *ngFor="let item of this.lstSedeImagens">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin-top:20px">
        <input type="checkbox" style="margin: -1px 0 0;"
          (change)="SelecionaFotosRemocao(item.sedeImagemId)" />&nbsp;<span>Remover</span>
        <br />
        <img id="imgUnidade" *ngIf="Imagem()" [src]="_sanitizer.bypassSecurityTrustUrl(item.imagem)"
          style="height: 265px; width: 265px;" />
      </div>
    </div>

  </div>

</div>







<ng-template #template>
  <div class="modal-header">
    <h3>Cadastro de Destinatários</h3>
  </div>
  <div class="modal-body ">
    <h5>Destinatário</h5>
    <input type="text" [(ngModel)]="sedeEmails.nome" ID="txtEmailNome" name="txtemailnome" class="form-control"
      placeholder="Nome do Destinatário">

    <h5>E-mail</h5>
    <input type="text" [(ngModel)]="sedeEmails.email" ID="txtEmailemail" name="txtemailemail" class="form-control"
      placeholder="E-mail do Destinatário">

    <h5>Ativo:</h5>
    <input type="checkbox" [(ngModel)]="sedeEmails.ativo" name="ativo">
  </div>
  <div class="modal-footer text-center">
    <button type="button" class="btn btn-success" (click)="confirm()">Salvar</button>
    <button type="button" class="btn btn-danger" (click)="decline(template)">Não</button>
  </div>
</ng-template>

<ng-template #templateDel>
  <div class="modal-header">
    <h3>Deletar Destinatário</h3>
  </div>
  <div class="modal-body ">
    <h5>Deseja inativar o e-mail {{sedeEmails.email}}?</h5>
  </div>
  <div class="modal-footer text-center">
    <button type="button" class="btn btn-success" (click)="deletar()">Sim</button>
    <button type="button" class="btn btn-danger" (click)="declineDel(templateDel)">Não</button>
  </div>
</ng-template>