<div class="breadcrumbs">
  <div class="container">
    <div class="col-md-12">
      <ul>
        <li>Cadastros</li>
        <li>Cadastro de Imagens</li>
      </ul>
    </div>
  </div>
</div>

<div class="container content">

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" id="porralouca">
  </ngx-loading>

  <div *ngIf="this.error">
    <div style="width:400px;margin-top:10px" class="alert alert-success" align="center">
      <table>
        <tr>
          <td><img src="/assets/imagens/exclamation.png" /></td>
          <td>
            <h6 style="white-space:  pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div *ngIf="this.success" align="center">
    <div style="width:400px;margin-top:10px" class="alert alert-success">
      <table>
        <tr>
          <td><img src="/assets/imagens/success.png" /></td>
          <td>
            <h6 style="white-space:  pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>


  <div class="col-md-12 search-add">
    <button ID="btnVoltar" Class="btn btn-primary pull-left" [routerLink]="['/cadastros/midia']">Voltar para
      busca</button>

    <button ID="btnNovo" *ngIf="!isNew" Class="btn btn-primary pull-left"
      [routerLink]="['/cadastros/midia/cadastro']">Novo</button>

    <button ID="btnSalvar" Class="btn btn-primary pull-left" (click)="salvar()">Salvar</button>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" align="left">

      <h5>Descrição:</h5>
      <input [ngStyle]="{'backgroundColor': this.required == true ? 'LightSalmon' : '#FAFAD9' }" type="text"
        [(ngModel)]="repositorioMidias.descricao" ID="txtdescricao" name="descricao" class="form-control"
        placeholder="Descrição">

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h5>Ativo:</h5>
        <input type="checkbox" [(ngModel)]="repositorioMidias.ativo" name="ativo">
      </div>
    </div>

  </div>
  <div class="row" *ngIf="!isNew">
    <br />
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a>Imagens</a></li>
      </ul>

      <h5>Selecionar Imagens:</h5>

      <input #file multiple type="file" accept="image/*" (change)="onSelectFile(file.files, $event)" />

      <br />
      <button ID="btnSendImages" Class="btn btn-primary pull-left" (click)="enviarImagens()">Enviar Imagens</button>
      <button ID="btnRemoveSelecteds" Class="btn btn-primary pull-left" *ngIf="idsSelecionados.length > 0"
        (click)="removerImagens()">Remover
        Imagens</button>
      <br />
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb" *ngFor="let item of imagens"><span class="checkbox-inline"><input
          id="{{item.repositorioMidiaMidiaId}}" (change)="selecionar($event)" type="checkbox"><label
          for={{item.repositorioMidiaMidiaId}}>Remover</label></span>
      <div class="thumbnail"><img src="{{parametroLeitura}}/{{item.repositorioMidiaId}}/{{item.imagem}}"
          style="height:300px;"></div>
    </div>


  </div>
</div>