<div class="breadcrumbs">
  <div class="container">
    <div class="col-md-12">
      <ul>
        <li>Cadastro</li>
        <li>Configuração de Reserva de Churrasqueiras</li>
      </ul>
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
</ngx-loading>
<div class="container content">

  <div *ngIf="this.error" align="center">
    <div style="width:400px;margin-top:10px" class="alert alert-success" align="center">
      <table>
        <tr>
          <td><img src="/assets/imagens/exclamation.png" /></td>
          <td>
            <h6 style="white-space:  pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div *ngIf="this.success" align="center" class="alert alert-success">
    <div style="width:400px;margin-top:10px">
      <table>
        <tr>
          <td><img src="/assets/imagens/success.png" /></td>
          <td>
            <h6 style="white-space:  pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>


  <form name="form" (ngSubmit)="f.form.valid" #f="ngForm">
    <div class="col-md-12 search-add">
      <button ID="btnVoltar" Class="btn btn-primary pull-left" [routerLink]="['/cadastros/quiosque-config']">Voltar para
        busca</button>

      <button ID="btnNovo" Class="btn btn-primary pull-left"
        [routerLink]="['/cadastros/quiosque-config/cadastro']">Novo</button>

      <button ID="btnSalvar" Class="btn btn-primary pull-left" [disabled]="!f.form.valid"
        (click)="salvar()">Salvar</button>
    </div>

    <br>
    <hr>
    <br>
    <div class="row" *ngIf="!isNew">
      <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
        <h5>Código:</h5>
        <input type="text" disabled required [(ngModel)]="bloqueioQuiosque.configuracaoReservaQuiosqueId" ID="txtTitulo"
          name="configuracaoReservaQuiosqueId" class="form-control" placeholder="Código">
      </div>
    </div>

    <div class="row">
      <div class="clearfix"></div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- {{ getAllErrors(f.form) | json }} -->
        <h5>Descrição:</h5>
        <input type="text" [(ngModel)]="bloqueioQuiosque.descricao" ID="descricao" name="descricao" class="form-control"
          required #descricao="ngModel" placeholder="Descrição">

        <div *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)" style="color:red;">
          <li *ngIf="descricao.errors.required">
            Descrição é um campo obrigatório.
          </li>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5>Horario Limite Para No-Show:</h5>
            <input maxlength="5" type="text" mask="00:00" class="form-control"
              [(ngModel)]="bloqueioQuiosque.horarioLimiteNoshow" placeholder="Hora limite para no-show" required
              #horarioLimiteNoShow="ngModel" ID="txtHora" name="txtHora">

            <div *ngIf="horarioLimiteNoShow.invalid && (horarioLimiteNoShow.dirty || horarioLimiteNoShow.touched)"
              style="color:red;">
              <li *ngIf="horarioLimiteNoShow.errors.required">
                Horario Limite NoShow é um campo obrigatório.
              </li>
            </div>

          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5>Qtd total de Pessoas por Churrasqueira:</h5>
            <input type="text" [(ngModel)]="bloqueioQuiosque.qtdPessoasQuiosque" class="form-control"
              placeholder="Qtd total por pessoas" required #qtdPessoasQuiosque="ngModel" ID="txtCodigo"
              name="txtCodigo">

            <div *ngIf="qtdPessoasQuiosque.invalid && (qtdPessoasQuiosque.dirty || qtdPessoasQuiosque.touched)"
              style="color:red;">
              <li *ngIf="qtdPessoasQuiosque.errors.required">
                Qtd Total de Pessoas é um campo obrigatório.
              </li>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="row">
          <h5>Unidade:</h5>
          <select Class="form-control" required [(ngModel)]="bloqueioQuiosque.sedeId" #sedeId="ngModel" name="sedeId">
            <option value="0">Selecione...</option>
            <option *ngFor="let item of this.sedes" [value]="item.sedeId">{{item.titulo}}</option>
          </select>

          <div *ngIf="sedeId.invalid && (sedeId.dirty || sedeId.touched)" style="color:red;">
            <li *ngIf="sedeId.errors.required">
              Unidade é um campo obrigatório.
            </li>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <h5>Data de Início:</h5>

              <!-- <input required bsDatepicker maxlength="10" type="text" ID="txtdataValidadeDe"
              [(bsValue)]="bloqueioQuiosque.dataInicial" value="{{ bloqueioQuiosque.dataInicial | date:'yyyy-MM-dd' }}"
              name="txtdataValidadeDe" #dataInicio="bsDatepicker" class="form-control" placeholder="Data Inicial"> -->
              <div class="input-group">

                <input type='text' name="inicio"
                  (dateChanged)="bloqueioQuiosque.dataInicial = ($event.jsdate != null ? $event.jsdate.toISOString() : '')"
                  #di="ngx-mydatepicker" placeholder="DD/MM/YYYY" ngx-mydatepicker #inicio="ngModel"
                  [(ngModel)]="dataInicio" class="form-control" [options]="{dateFormat: 'dd/mm/yyyy'}">
                <span class="input-group-btn">
                  <input type="image" novalidate class="btn btn-default-calendar" (click)="di.toggleCalendar()"
                    src="assets/imagens/calendar.png">
                </span>
              </div>

              <div *ngIf="di.invalid && (di.dirty || di.touched)" style="color:red;">
                <li *ngIf="di.errors.required">
                  Data é um campo obrigatório.
                </li>
              </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
              <h5>Qtd dias para realização de reservas via ADM:</h5>
              <input type="text" [(ngModel)]="bloqueioQuiosque.qtdDiasReservaAdm" ID="qtdDiasReservaAdm"
                name="qtdDiasReservaAdm" class="form-control" placeholder="Qtd dias para realização"
                #qtdDiasReservaAdm="ngModel" required>

              <div *ngIf="qtdDiasReservaAdm.invalid && (qtdDiasReservaAdm.dirty || qtdDiasReservaAdm.touched)"
                style="color:red;">
                <li *ngIf="qtdDiasReservaAdm.errors.required">
                  Qtd Dias é um campo obrigatório.
                </li>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <h5>Cabeçalho:</h5>
    <ckeditor [editor]="Editor1" [(ngModel)]="bloqueioQuiosque.termoresponsabilidade" name="edito1"
      data="(textoDescricao)">
    </ckeditor>

    Ativo:
    <input type="checkbox" [(ngModel)]="bloqueioQuiosque.ativo" name="ativo">
    <br>

  </form>
</div>