<div class="breadcrumbs">
    <div class="container">
        <div class="col-md-12">
            <ul>
                <li>Cadastros</li>
                <li>Geração de Beneficiarios/Dependentes</li>
            </ul>
        </div>
    </div>
</div>

<div class="container content">

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
    </ngx-loading>

    <div class="col-md-12 search-add">
        <button ID="btnGerar" (click)="gerarExcel()" Class="btn btn-primary pull-left">Gerar</button>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5>Tipo de Associado:</h5>
            <select [(ngModel)]="cmbTipoAssociado" style="width:510px" Class="form-control" ID="cmbTipoAssociado"
                name="tipoAssociado">
                <option value="">Todos</option>
                <option value="colaborador">Colaborador</option>
                <option value="dependente">Dependente</option>
            </select>

            <h5>Sexo:</h5>
            <select [(ngModel)]="cmbSexo" style="width:510px" Class="form-control" ID="cmbSexo" name="sexo">
                <option value="">Todos</option>
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
            </select>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h5>Nome:</h5>
                    <input type="text" [(ngModel)]="cmbNome" class="form-control" id="txtNome" placeholder="Nome">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <h5>CPF:</h5>
                    <input type="text" [(ngModel)]="cmbCpf" class="form-control" id="txtCpf" placeholder="CPF"
                        mask="000.000.000-00">
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                        <h5>Data de Nascimento Inicio:</h5>
                        <div class="input-group">
                            <input type="text" class="form-control" style="float:none" id="txtDataEnvioInicio"
                                (dateChanged)="inicio = ($event.jsdate != null ? $event.jsdate.toISOString() : '')"
                                placeholder="DD/MM/YYYY" ngx-mydatepicker name="ini" [(ngModel)]="inicio"
                                [options]="myOptions" #dp="ngx-mydatepicker" />
                            <span class="input-group-btn">
                                <input type="image" novalidate class="btn btn-default-calendar"
                                    (click)="dp.toggleCalendar()" src="assets/imagens/calendar.png">
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                        <h5>Data de Nascimento Final:</h5>
                        <div class="input-group">
                            <input type="text" class="form-control" style="float:none" id="txtDataEnvioFim"
                                (dateChanged)="final = ($event.jsdate != null ? $event.jsdate.toISOString() : '')"
                                placeholder="DD/MM/YYYY" ngx-mydatepicker name="fim" [(ngModel)]="final"
                                [options]="myOptions" #df="ngx-mydatepicker" />
                            <span class="input-group-btn">
                                <input type="image" novalidate class="btn btn-default-calendar"
                                    (click)="df.toggleCalendar()" src="assets/imagens/calendar.png">
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h5>Situação:</h5>
                        <select style="width: 82%;" [(ngModel)]="cmbSituacao" Class="form-control" ID="cmbSituacao"
                            name="ativo">
                            <option value="">Todos</option>
                            <option value="true">Ativo</option>
                            <option value="false">Inativo</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="col-md-11 order-md-2">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <h4 class="mb-3"><b>Selecione os campos que serão exibidos no Excel</b></h4>
                            <h6 class="mb-3" style="color: red" *ngIf="showMarcar == true">
                                Selecione no mínimo um campo para gerar o relatorio!
                            </h6>
                        </div>

                        <div class="col-lg-6 col-md-6 col-xs-12" style="left: 25%; margin-top: 1%;">
                            <button ID="btnTodos" *ngIf="showDesmarcar == true" (click)="desmarcarTodos()"
                                Class="btn btn-primary pull-left">
                                Desmarcar Todos
                            </button>
                        </div>

                        <div class="col-lg-6 col-md-6 col-xs-12" style="left: 25%">
                            <button ID="btnTodos" *ngIf="showMarcar == true" (click)="marcarTodos()"
                                Class="btn btn-primary pull-left">
                                Marcar Todos
                            </button>
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-xs-12">
                            <div class="custom-control custom-checkbox" style="margin-bottom: 10px">
                                <input [(ngModel)]="chkCpf" (ngModelOptions)="{standalone:true}" type="checkbox"
                                    class="custom-control-input" style="margin:0px">
                                <label class="custom-control-label" for="cpf"
                                    style="margin:0px; margin-left: 8px">CPF</label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12">
                            <div class="custom-control custom-checkbox" style="margin-bottom: 10px">
                                <input [(ngModel)]="chkNrFuncional" type="checkbox" class="custom-control-input"
                                    id="nrFuncional" style="margin:0px">
                                <label class="custom-control-label" for="nrFuncional"
                                    style="margin:0px; margin-left: 8px">Nr Funcional</label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12">
                            <div class="custom-control custom-checkbox" style="margin-bottom: 10px">
                                <input [(ngModel)]="chkNome" type="checkbox" class="custom-control-input" id="nome"
                                    style="margin:0px">
                                <label class="custom-control-label" for="nome"
                                    style="margin:0px; margin-left: 8px">Nome</label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12">
                            <div class="custom-control custom-checkbox" style="margin-bottom: 10px">
                                <input [(ngModel)]="chkEmail" type="checkbox" class="custom-control-input" id="email"
                                    style="margin:0px">
                                <label class="custom-control-label" for="email"
                                    style="margin:0px; margin-left: 8px">Email</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-xs-12">
                            <div class="custom-control custom-checkbox" style="margin-bottom: 10px">
                                <input [(ngModel)]="chkTipoPessoa" type="checkbox" class="custom-control-input"
                                    id="tipoPessoa" style="margin:0px">
                                <label class="custom-control-label" for="tipoPessoa"
                                    style="margin:0px; margin-left: 8px">Tipo Pessoa</label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12">
                            <div class="custom-control custom-checkbox" style="margin-bottom: 10px">
                                <input [(ngModel)]="chkAssociadoPai" type="checkbox" class="custom-control-input"
                                    id="associadoPai" style="margin:0px">
                                <label class="custom-control-label" for="associadoPai"
                                    style="margin:0px; margin-left: 8px">Associado Pai</label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12">
                            <div class="custom-control custom-checkbox" style="margin-bottom: 10px">
                                <input [(ngModel)]="chkDataNascimento" type="checkbox" class="custom-control-input"
                                    id="dataNascimento" style="margin:0px">
                                <label class="custom-control-label" for="dataNascimento"
                                    style="margin:0px; margin-left: 8px">Data de
                                    Nascimento</label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12">
                            <div class="custom-control custom-checkbox" style="margin-bottom: 10px">
                                <input [(ngModel)]="chkSexo" type="checkbox" class="custom-control-input" id="sexo"
                                    style="margin:0px">
                                <label class="custom-control-label" for="sexo"
                                    style="margin:0px; margin-left: 8px">Sexo</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-xs-12">
                            <div class="custom-control custom-checkbox" style="margin-bottom: 10px">
                                <input [(ngModel)]="chkEstadoCivil" type="checkbox" class="custom-control-input"
                                    id="estadoCivil" style="margin:0px">
                                <label class="custom-control-label" for="estadoCivil"
                                    style="margin:0px; margin-left: 8px">Estado Civil</label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12">
                            <div class="custom-control custom-checkbox" style="margin-bottom: 10px">
                                <input [(ngModel)]="chkTelefone" type="checkbox" class="custom-control-input"
                                    id="telefone" style="margin:0px">
                                <label class="custom-control-label" for="telefone"
                                    style="margin:0px; margin-left: 8px">Telefone</label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12">
                            <div class="custom-control custom-checkbox" style="margin-bottom: 10px">
                                <input [(ngModel)]="chkFaixaSalarial" type="checkbox" class="custom-control-input"
                                    id="faixaSalarial" style="margin:0px">
                                <label class="custom-control-label" for="faixaSalarial"
                                    style="margin:0px; margin-left: 8px">Faixa Salarial</label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12">
                            <div class="custom-control custom-checkbox" style="margin-bottom: 10px">
                                <input [(ngModel)]="chkTipoDependente" type="checkbox" class="custom-control-input"
                                    id="tipoDependente" style="margin:0px">
                                <label class="custom-control-label" for="tipoDependente"
                                    style="margin:0px; margin-left: 8px">Tipo Dependente</label>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>