<div class="breadcrumbs">
  <div class="container">
    <div class="col-md-12">
      <ul>
        <li>Operações</li>
        <li>Gestão de WorkFlow - Encaminhar</li>
      </ul>
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
</ngx-loading>
<div class="container" align="center">
<br>
  <div class="validationsummary-question" role="alert">
      <table>
        <tr>
          <td><img src="/assets/imagens/question.png" /></td>
          <td><h6 style="white-space:  pre;"><b>Deseja realmente encaminhar a aprovação de <br>{{ mensagem }}<br>para outra alçada?</b></h6></td>
        </tr>
      </table>
    </div>
<form #clienteForm="ngForm">
  <table align="center">
    <tr>
      <td>
        <div class="col-lg-16">
          <h5>Alçada:</h5>
          <select required [ngStyle]="{'backgroundColor': this.required == true ? 'LightSalmon' : '#FAFAD9', 'width' : '555px' }" Class=" form-control" [(ngModel)]="workFlowId1" name="descricao">
            <option value="">Selecione...</option>
            <option value="3">Primeira alçada de dependentes</option>
          </select>
        </div>
      </td>
    </tr>
  </table>

  <br>
  <table align="center">
    <tr>
      <td>
        <div class="row justify-content-center" align="center">
          <button ID="btnEncaminhar" Class="btn btn-primary" [disabled]="!clienteForm.form.valid" (click)="encaminhar()">Sim</button>
          <button ID="btnNao" Class="btn btn-primary" [routerLink]="['../../']">Não</button>
        </div>
      </td>
    </tr>
  </table>
  <hr>
</form>
</div>