<div class="breadcrumbs">
  <div class="breadcumb">
    <div class="col-md-12">
      <ul>
        <li>Cadastros</li>
        <li>Motivo Reprovação</li>
      </ul>
    </div>
  </div>
</div>
<div class="container content">
  <div *ngIf="this.error" align="center">
    <div style="width:400px;margin-top:10px" class="alert alert-success">
      <table>
        <tr>
          <td><img src="/assets/imagens/exclamation.png" /></td>
          <td>
            <h6 style="white-space:  pre;"><b>{{this.mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div *ngIf="this.success" align="center">
    <div style="width:400px;margin-top:10px" class="alert alert-success">
      <table>
        <tr>
          <td><img src="/assets/imagens/success.png" /></td>
          <td>
            <h6 style="white-space:  pre;"><b>{{this.mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
  </ngx-loading>

  <div class="col-md-12 search-add">

    <button ID="btnVoltar" Class="btn btn-primary pull-left" [routerLink]="['../']">Voltar</button>
    <!-- <button ID="btnSalvar" *ngIf="permissions.btnCadastrar" Class="btn btn-primary pull-left"
        (click)="salvar()">Salvar</button> -->
    <button ID="btnSalvar" [disabled]="!clienteForm.form.valid" Class="btn btn-primary pull-left"
      (click)="gravar()">Salvar</button>
  </div>
  <form #clienteForm="ngForm">
  <div class="row" align="center">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-center">
      <h5 style="text-align:left">Motivo da Reprovação</h5>
      <select required [(ngModel)]="motivosReprovacao.motivoId"
        [ngStyle]="{'backgroundColor': this.required == true ? 'LightSalmon' : '#FAFAD9' }" Class="form-control"
        name="descricao">
        <option value="">Selecione...</option>
        <option value="1">Dependente já existe</option>
        <option value="2">Dependente não elegível</option>
        <option value="3">Exige documentos</option>
      </select>
    </div>
  </div>
  <div class="row" align="center">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-10 pull-center">
      <br>
      <h5 style="text-align:left">Descricao</h5>
      <textarea required rows="10" [ngStyle]="{'backgroundColor': this.required == true ? 'LightSalmon' : '#FAFAD9' }"
        [(ngModel)]="motivosReprovacao.descricao" type="text" class="form-control" id="justifica"
        placeholder="Justificativa de Bloqueio"></textarea>
    </div>
  </div>
</form>
</div>
