<div class="breadcrumbs">
  <div class="container">
    <div class="col-md-12">
      <ul>
        <li>Cadastrar:</li>
        <li>Realizar Reserva</li>
      </ul>
    </div>
  </div>
</div>

<div class="container content">

  <div *ngIf="required" align="center">
    <div style="width:475px;margin-top:10px" class="alert alert-success">
      <table>
        <tr>
          <td><img src="/assets/imagens/exclamation.png" /></td>
          <td>
            <h6 style="white-space: pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>


  <div class="col-md-12 search-add">
    <button ID="btnNovo" Class="btn btn-primary pull-left">Novo</button>

  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <h5>Informe o nome, CPF ou número funcional do beneficiário e o selecione na lista que se abrirá:</h5>
    </div>
  </div>

  <ng-template #customItemTemplate let-model="item" let-index="cpf">
    <h5>{{model.nome}} - CPF: {{model.cpf}}</h5>
  </ng-template>


  <!-- <h5>Nome do Beneficiário:</h5>
      <input type="text" id="nomeBeneficiario" required name="nomeBeneficiario"
        [(ngModel)]="QuiosqueReserva.nomeBeneficiario" class="form-control" placeholder="Nome do Beneficiário"> -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <input type="text" [(ngModel)]="QuiosqueReserva.nomeBeneficiario" required="true" [typeahead]="dataSource"
        (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)"
        [typeaheadOptionsLimit]="7" [typeaheadItemTemplate]="customItemTemplate" placeholder="Nome do Beneficiário"
        class="form-control">
      <div *ngIf="typeaheadLoading">Loading</div>

      <!-- <input [(ngModel)]="selected"
       [typeahead]="states"
       class="form-control"> -->

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h5>Unidade:</h5>
      <select Class="form-control" id="unidade" required (ngModelChange)="selectedUnidade($event)" name="unidade"
        [(ngModel)]=QuiosqueReserva.sedeId>
        <option value="0">Selecione...</option>
        <option *ngFor="let item of this.sedes" [value]="item.sedeId">{{item.titulo}}</option>
      </select>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" *ngIf="QuiosqueReserva.sedeId != 0">
      <h5>Período desejado:</h5>
      <div class="input-group">
        <input type='text' name="data"
          (dateChanged)="QuiosqueReserva.data = ($event.jsdate != null ? $event.jsdate.toISOString() : '')"
          #df="ngx-mydatepicker" maxlength="10" (keyup)="dateMask($event)" placeholder="DD/MM/YYYY" ngx-mydatepicker #fim="ngModel" required
          [(ngModel)]="dataInicio" class="form-control" [options]="{dateFormat: 'dd/mm/yyyy', disableDates: dates}">
        <span class="input-group-btn">
          <input type="image" novalidate class="btn btn-default-calendar" (click)="df.toggleCalendar()"
            src="assets/imagens/calendar.png">
        </span>
      </div>

      <!-- <div class="input-group">

          <input type='text' name="inicio"
            (dateChanged)="QuiosqueReserva.data = ($event.jsdate != null ? $event.jsdate.toISOString() : '')"
            #di="ngx-mydatepicker" placeholder="DD/MM/YYYY" ngx-mydatepicker #inicio="ngModel" [(ngModel)]="dataInicio"
            class="form-control" [options]="{dateFormat: 'dd/mm/yyyy'}">
          <span class="input-group-btn">
            <input type="image" novalidate class="btn btn-default-calendar" (click)="di.toggleCalendar()"
              src="assets/imagens/calendar.png">
          </span>
        </div> -->

    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"
      *ngIf="QuiosqueReserva.sedeId != 0 && QuiosqueReserva.data != ''">
      <h5>Qtd de pessoas:</h5>
      <select Class="form-control" id="qtdPessoas" required name="qtdPessoas" [(ngModel)]=QuiosqueReserva.qtdPessoas>
        <option value="0">Selecione...</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>

      </select>
      <!-- {{this.QuiosqueReserva.data}} -->

    </div>
  </div>
  <div class="col-md-12 search-add">
    <button type="button" Class="btn btn-primary pull-higth" style="float:right !important;"
      (click)="openModal(template)"
      *ngIf="QuiosqueReserva.nomeBeneficiario != '' && QuiosqueReserva.sedeId != 0 && this.QuiosqueReserva.qtdPessoas != 0">Continuar</button>
  </div>

  <ng-template #template>
    <div class="modal-header col-md-12  " style="background-color:  #ffa438;">
      <h4 class="modal-titl pull-left ">Confirmar Reserva </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>



    <div class="modal-body col-md-12 ">
      <table class="tabelainfo">
        <tbody>
          <tr>
            <td class="td30">Beneficiário:</td>
            <td id="nomeBeneficiario" class="td100">{{QuiosqueReserva.nomeBeneficiario}}</td>
          </tr>
          <br>
          <tr>
            <td class="td30">Unidade:</td>
            <td id="unidade" class="td100">{{sedeNome}}</td>
          </tr>
          <br>
          <tr>
            <td class="td30">Data:</td>
            <td id="data" class="td100">{{QuiosqueReserva.data | date: 'dd/MM/yyyy'}}</td>
          </tr>
          <br>

          <tr>
            <td class="td30">Qtd de Pessoas:</td>
            <td id="qtdPessoas" class="td100">{{QuiosqueReserva.qtdPessoas}}</td>
          </tr>
          <br>

          <tr>
            <td class="td30">E-mail:</td>
            <td class="td100">
              <input mail name="ctl00$ContentPlaceHolder1$txtEmail" type="text" id="txtEmail" class="form-control"
                style="background-color:White;">
            </td>
          </tr>
          <br>

        </tbody>
      </table>

      <h5>O colaborador permite débito no caso de no-show.</h5>
      <input type="checkbox" [(ngModel)]="permiteDebito">

      <h5>Uma confirmação de reserva será enviada ao e-mail apresentado acima.
      </h5>

      <div *ngIf="error" align="center">
        <div style="width:475px;margin-top:10px" class="alert alert-success">
          <table>
            <tr>
              <td><img src="/assets/imagens/exclamation.png" /></td>
              <td>
                <h6 style="white-space: pre;"><b>{{mensagem}}</b></h6>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
    <div class=" modal-footer ">
      <button ID="btnCancelar" (click)="modalRef.hide()" Class="btn btn-primary pull-left"
        style="width:45%">Cancelar</button>
      <button ID="btnSalvar" (click)="salvar()" Class="btn btn-primary pull-higth" *ngIf="permiteDebito"
        style="width:45%">Salvar</button>
    </div>

  </ng-template>