<div class="breadcrumbs">
  <div class="container">
    <div class="col-md-12">
      <ul>
        <li>Cadastro</li>
        <li>Busca de Bloqueios</li>
      </ul>
    </div>
  </div>
</div>

<div class="container content">

  <div *ngIf="required" align="center">
    <div style="width:475px;margin-top:10px" class="alert alert-success">
      <table>
        <tr>
          <td><img src="/assets/imagens/exclamation.png" /></td>
          <td>
            <h6 style="white-space: pre;"><b>Não há registros para o critério de busca informado!</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>


  <div class="col-md-12 search-add">
    <button ID="btnBuscar" (click)="buscar()" Class="btn btn-primary pull-left">Buscar</button>
    <button ID="btnCadastrar" *ngIf="permissions.btnCadastrar" Class="btn btn-primary pull-left"
      [routerLink]="['cadastro']">Cadastrar</button>
  </div>

  <br>
  <hr>
  <br>

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
  </ngx-loading>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h5>Código:</h5>
      <input type="text" mask="00000000" [(ngModel)]="bloqueioQuiosque.bloqueioQuiosqueId" ID="txtbloqueioQuiosqueId"
        name="bloqueioQuiosqueId" class="form-control" placeholder="Código">

      <h5>Descrição:</h5>
      <input type="text" [(ngModel)]="bloqueioQuiosque.descricao" ID="descricao" name="descricao" class="form-control"
        placeholder="Descrição">

      <h5>Ativo:</h5>
      <select Class="form-control" [(ngModel)]="bloqueioQuiosque.ativo" name="ativo">
        <option value="true">Ativo</option>
        <option value="">Todos</option>
        <option value="false">Inativo</option>
      </select>

    </div>


    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="row">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5>Data de Início:</h5>
            <!-- <input maxlength="10" (keyup)="Mascara()" type="text" ID="txtDataEnvioInicio"
              [(ngModel)]="bloqueioQuiosque.dataInicio" name="txtDataEnvioInicio" class="form-control"
              placeholder="Data Inicial"> -->

            <!-- Passar os parametros do errado para o certo. O que tiver em ngModel passar para o value e para o bsValue.
              Se o errado não tiver required. O novo também não tera. -->

            <!-- <input bsDatepicker maxlength="10" type="text" ID="txtDataEnvioInicio"
              [(bsValue)]="bloqueioQuiosque.dataInicio" value="{{ bloqueioQuiosque.dataInicio | date:'dd/MM/yyyy' }}"
              name="txtDataEnvioInicio" #dataInicio="bsDatepicker" class="form-control" placeholder="Data Inicial"> -->

            <div class="input-group filtro ">

              <input type='text' name="inicio"
                (dateChanged)="bloqueioQuiosque.dataInicio = ($event.jsdate != null ? $event.jsdate.toISOString() : '')"
                #di="ngx-mydatepicker" placeholder="DD/MM/YYYY" ngx-mydatepicker #inicio="ngModel"
                [(ngModel)]="dataInicio" class="form-control" [options]="{dateFormat: 'dd/mm/yyyy'}">
              <span class="input-group-btn">
                <input type="image" novalidate class="btn btn-default-calendar" (click)="di.toggleCalendar()"
                  src="assets/imagens/calendar.png">
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5>Data Final:</h5>
            <div class="input-group">

              <input type='text' name="fim"
                (dateChanged)="bloqueioQuiosque.dataFim = ($event.jsdate != null ? $event.jsdate.toISOString() : '')"
                #df="ngx-mydatepicker" placeholder="DD/MM/YYYY" ngx-mydatepicker #fim="ngModel" [(ngModel)]="dataFim"
                class="form-control" [options]="{dateFormat: 'dd/mm/yyyy'}">
              <span class="input-group-btn">
                <input type="image" novalidate class="btn btn-default-calendar" (click)="df.toggleCalendar()"
                  src="assets/imagens/calendar.png">
              </span>
            </div>
          </div>
        </div>

        <h5>Unidade:</h5>
        <select Class="form-control" [(ngModel)]="bloqueioQuiosque.sedeId" name="sedeId">
          <option value="0">Selecione...</option>
          <option *ngFor="let item of this.sedes" [value]="item.sedeId">{{item.titulo}}</option>
        </select>

      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <table *ngIf="this.listaBloqueios.length > 0" class="table list-users" cellspacing="0"
        style="border-collapse:collapse;">
        <tbody>

          <tr style="color:#002678;">
            <th class="th-lg"><a style="color:#002678;">Descrição</a></th>
            <th class="th-lg"><a style="color:#002678;">Início</a></th>
            <th class="th-lg"><a style="color:#002678;">Fim</a></th>
            <th class="th-lg"><a style="color:#002678;">Ativo</a></th>
            <th class="th-lg border-top-0" scope="col" abbr="Editar" style="width:5px;"></th>
            <th class="th-lg border-top-0" scope="col" abbr="Excluir" style="width:5px;"></th>
          </tr>

          <tr *ngFor="let item of this.listaBloqueios">
            <td>{{item.descricao}}</td>
            <td>{{item.dataInicio | date: 'dd/MM/yyyy'}}</td>
            <td>{{item.dataFim | date: 'dd/MM/yyyy'}}</td>
            <td><input type="checkbox" value="" [disabled]="true" [(ngModel)]="item.ativo"></td>
            <td><a [routerLink]="['cadastro',item.bloqueioQuiosqueId]" class="glyphicon glyphicon-pencil"
                style="cursor: pointer"></a>
            </td>
            <td><a [routerLink]="['deletar',item.bloqueioQuiosqueId]" class="glyphicon glyphicon-remove"
                style="color:red; cursor: pointer"></a></td>
          </tr>

        </tbody>
        <!-- <pagination-controls class="table paginationTable" (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls> -->
      </table>
    </div>
  </div>

</div>