<div class="breadcrumbs">
  <div class="container">
    <div class="col-md-12">
      <ul>
        <li>Cadastros</li>
        <li>Cadastro de Destaques</li>
      </ul>
    </div>
  </div>
</div>

<div class="container content">

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" id="porralouca">
  </ngx-loading>

  <div *ngIf="this.error" align="center">
    <div style="width:400px;margin-top:10px" class="alert alert-success">
      <table>
        <tr>
          <td><img src="/assets/imagens/exclamation.png" /></td>
          <td>
            <h6 style="white-space:  pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div *ngIf="this.success" align="center">
    <div style="width:400px;margin-top:10px" class="alert alert-success">
      <table>
        <tr>
          <td><img src="/assets/imagens/success.png" /></td>
          <td>
            <h6 style="white-space:  pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>


  <div class="col-md-12 search-add">
    <button ID="btnVoltar" Class="btn btn-primary pull-left" (click)="isloanding()"
      [routerLink]="['/cadastros/destaques']">Voltar para
      busca</button>
    <button ID="btnSalvar" Class="btn btn-primary pull-left" (click)="salvar()">Salvar</button>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" align="left">

      <h5>Titulo:</h5>
      <input [ngStyle]="{'backgroundColor': this.required == true ? 'LightSalmon' : '#FAFAD9' }" type="text"
        [(ngModel)]="feed.titulo" ID="txtTitulo" name="titulo" class="form-control" placeholder="Titulo">

      <h5>Link:</h5>
      <input type="text" [(ngModel)]="feed.link" ID="txtLink" name="link" class="form-control" placeholder="Link">

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

          <h5>Valido De: </h5>
          <div class="input-group">

            <input type="text" class="form-control" id="txtDataEnvioInicio"
              [ngStyle]="{'backgroundColor': this.required == true ? 'LightSalmon' : '#FAFAD9' }"
              (dateChanged)="feed.dataValidadeDe = ($event.jsdate != null ? $event.jsdate.toISOString() : '')"
              style="float:none" placeholder="DD/MM/YYYY" ngx-mydatepicker name="inicio" [(ngModel)]="inicio"
              [options]="myOptions" #dp="ngx-mydatepicker" #di="ngx-mydatepicker" />

            <span class="input-group-btn">
              <input type="image" novalidate class="btn btn-default-calendar" (click)="di.toggleCalendar()"
                src="assets/imagens/calendar.png">
            </span>
          </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

          <h5>Valido Até :</h5>
          <div class="input-group">

            <!-- <input type="text" class="form-control" id="txtDataEnvioFim"
              (dateChanged)="feed.dataValidadeDe = ($event.jsdate != null ? $event.jsdate.toISOString() : '')"
              style="float:none" placeholder="Selecione uma data" ngx-mydatepicker name="final" [(ngModel)]="final"
              [options]="myOptions" #dp="ngx-mydatepicker" #di="ngx-mydatepicker" /> -->

            <input type="text" class="form-control" style="float:none" id="txtDataEnvioFim"
              (dateChanged)="feed.dataValidadeAte = ($event.jsdate != null ? $event.jsdate.toISOString() : '')"
              placeholder="DD/MM/YYYY" ngx-mydatepicker name="fim" [(ngModel)]="final" [options]="myOptions"
              #dp="ngx-mydatepicker" #df="ngx-mydatepicker" />
            <span class="input-group-btn">
              <input type="image" novalidate class="btn btn-default-calendar" (click)="df.toggleCalendar()"
                src="assets/imagens/calendar.png">
            </span>
          </div>
        </div>
      </div>

      <h5>Eventos:</h5>
      <select [ngStyle]="{'backgroundColor': this.required == true ? 'LightSalmon' : '#FAFAD9' }" Class="form-control"
        [(ngModel)]="feed.eventoId" name="eventoId">
        <option value="0">Selecione</option>
        <option *ngFor="let item of this.listaEventos" [value]="item.eventoId">{{item.titulo}}</option>
      </select>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="row">
          <h5>Visibilidade Pública:</h5>
          <input type="checkbox" [(ngModel)]="feed.publico" name="publico">
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h5>Ativo:</h5>
        <input type="checkbox" [(ngModel)]="feed.ativo" name="ativo">
      </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h5>Trocar Imagem:</h5>
      <img id="imgUnidade" [src]="imagem" height="200px" />
      <br />
      <input #file type="file" accept="image/*" (change)="onSelectFile(file.files, $event)" />
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <br />
      <h5>Descrição (Portal):</h5>
      <textarea [ngStyle]="{'backgroundColor': this.required == true ? 'LightSalmon' : '#FAFAD9' }"
        [(ngModel)]="feed.descricaoPortal"
        [ngStyle]="{'backgroundColor': this.required == true ? 'LightSalmon' : '#FAFAD9' }" class="form-control"
        name="Text1" cols="40" rows="5"></textarea>

      <h5>Descrição (Leia Mais):</h5>
      <ckeditor [editor]="Editor1" [(ngModel)]="feed.textoDescricao" data="(textoDescricao)"></ckeditor>

    </div>
  </div>
</div>