<div class="breadcrumbs">
  <div class="container">
    <div class="col-md-12">
      <ul>
        <li>Cadastros</li>
        <li>Cadastro de andares</li>
      </ul>
    </div>
  </div>
</div>

<div class="container content">

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
  </ngx-loading>

  <div *ngIf="this.error" align="center">
    <div style="width:475px;margin-top:10px" class="alert alert-success" align="center">
      <table>
        <tr>
          <td><img src="/assets/imagens/exclamation.png" /></td>
          <td>
            <h6 style="white-space:  pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div *ngIf="this.success" align="center">
    <div style="width:400px;margin-top:10px" class="alert alert-success">
      <table>
        <tr>
          <td><img src="/assets/imagens/success.png" /></td>
          <td>
            <h6 style="white-space:  pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!--                 -->


  <div _ngcontent-c5="" class="col-md-12 search-add">
    <button _ngcontent-c5="" class="btn btn-primary pull-left" id="btnVoltar" tabindex="0"
      [routerLink]="['/cadastros/andares']">
      Voltar para busca
    </button>

    <button ID="btnCadastrar" Class="btn btn-primary pull-left" [routerLink]="['../']" *ngIf="!this.isNew">
      Novo</button>


    <button _ngcontent-c5="" (click)="cadastrar()" class="btn btn-primary pull-left" id="btnSalvar">Salvar</button>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h5>Código:</h5>
      <input type="text" (keyup)="Mascara()" (keydown)="Mascara()" readonly class="form-control" style="height: 25px;" [(ngModel)]="andares.andarId" id="txtIdAndar"
        name="codigo" mask="00000" placeholder="Codigo">


      <h5>Blocos:</h5>
      <select Class="form-control" [(ngModel)]="andares.blocoId" name="Bloco">
        <option value="0">Selecione</option>
        <option *ngFor="let item of this.listaBlocos" [value]="item.blocoId"> {{item.descricao}}</option>
      </select>

      <h5>Ordem:</h5>
      <input type="text" (keyup)="Mascara()" (keydown)="Mascara()" style="height: 25px;" [(ngModel)]="andares.ordem" class="form-control" placeholder="Ordem" mask="00000" id="txtOrdemAndar">

      <h5>Ativo:</h5>
      <input type="checkbox" [(ngModel)]="andares.ativo" name="ativo">Ativo:


    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

      <!--  -->

      <h5>Unidade:</h5>
      <select Class="form-control" [(ngModel)]="andares.sedeId" (change)="carregaBlocos($event.target.value)"
        name="Unidade">
        <option value="">Selecione...</option>
        <option *ngFor="let item of this.sedes" [value]="item.sedeId">{{item.titulo}}</option>
      </select>


      <h5>Sigla:</h5>
      <input type="text" ID="txtSigla" [(ngModel)]="andares.sigla" name="sigla" class="form-control" placeholder="Sigla"
        maxlength="3">

      <h5>Descrição:</h5>
      <input type="text" ID="txtDescricao" [(ngModel)]="andares.descricao" name="descricao" class="form-control"
        placeholder="Descrição">

    </div>


  </div>