<div class="breadcrumbs">
  <div class="container">
    <div class="col-md-12">
      <ul>
        <li>Cadastros</li>
        <li>Busca de Mailing</li>
      </ul>
    </div>
  </div>
</div>

<div class="container content">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" id="porralouca">
  </ngx-loading>
  <div *ngIf="this.error" align="center" class="col-xs-12">
    <div style="width:475px;margin-top:10px" class="alert alert-success center" align="center">
      <table>
        <tr>
          <td><img src="/assets/imagens/erro.png" /></td>
          <td>
            <h6 style="white-space:  pre;"><b>{{this.mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div *ngIf="this.success" align="center">
    <div style="width:400px;margin-top:10px" class="alert alert-success">
      <table>
        <tr>
          <td><img src="/assets/imagens/success.png" /></td>
          <td>
            <h6 style="white-space:  pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>


  <form name="form" (ngSubmit)="f.form.valid" #f="ngForm">
    <div class="col-md-12 search-add">
      <button ID="btnVoltar" Class="btn btn-primary pull-left" [routerLink]="['/cadastros/emails']">Voltar para
        busca</button>

      <button ID="btnCadastrar" Class="btn btn-primary pull-left" [routerLink]="['../']" *ngIf="!this.isNew">
        Novo</button>

      <button ID="btnSalvar" (click)="cadastrarEmail()" [disabled]="!f.form.valid"
        Class="btn btn-primary pull-left">Salvar</button>

    </div>

    <!-- {{ getAllErrors(f.form) | json }} -->
    <br>
    <br>



    <!--                 -->

    <div class="row" *ngIf="!isNew">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h5>Código:</h5>
        <input type="text" readonly style="height: 25px;" [(ngModel)]="emails.mailingEmailId" ID="txtCodigo"
          name="codigo" class="form-control" placeholder="Codigo">
      </div>
    </div>




    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h5>Descrição:</h5>
        <input type="text" required required ID="txtSigla" [(ngModel)]="emails.descricao" class="form-control"
          placeholder="Descrição" name="descricao">

        <br />

        <input type="checkbox" name="ativo" [(ngModel)]="emails.ativo" name="ativo">Ativo:




      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        <h5>Assunto:</h5>
        <input type="text" required ID="txtSigla" [(ngModel)]="emails.assunto" class="form-control"
          placeholder="Assunto" name="assunto">



      </div>


    </div>

    <br>


    <h5>Cabeçalho:</h5>
    <ckeditor required [editor]="Editor1" name="Editor1" [(ngModel)]="emails.cabecalho" data="(cabecalho)"></ckeditor>

    <h5>Mensagem:</h5>
    <ckeditor required [editor]="Editor2" name="Editor2" [(ngModel)]="emails.mensagem" data="(mensagem)"></ckeditor>

    <h5>Assinatura:</h5>
    <ckeditor required [editor]="Editor3" name="Editor3" [(ngModel)]="emails.assinatura" data="(assinatura)"></ckeditor>

  </form>
</div>