<div class="breadcrumbs">
  <div class="container">
    <div class="col-md-12">
      <ul>
        <li>Cadastros</li>
        <li>Cadastro de Exames</li>
      </ul>
    </div>
  </div>
</div>

<div class="container content">

  <div *ngIf="this.error" align="center">
    <div style="width:400px;margin-top:10px" class="alert alert-success" align="center">
      <table>
        <tr>
          <td><img src="/assets/imagens/exclamation.png" /></td>
          <td>
            <h6 style="white-space:  pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
  </ngx-loading>

  <div *ngIf="this.success" align="center" class="alert alert-success">
    <div style="width:400px;margin-top:10px">
      <table>
        <tr>
          <td><img src="/assets/imagens/success.png" /></td>
          <td>
            <h6 style="white-space:  pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <form name="form" (ngSubmit)="f.form.valid" #f="ngForm">
    <div class="col-md-12 search-add">
      <button ID="btnVoltar" Class="btn btn-primary pull-left" [routerLink]="['/cadastros/adm-exames']">Voltar para
        busca</button>

      <button ID="btnNovo" Class="btn btn-primary pull-left"
        [routerLink]="['/cadastros/adm-exames/cadastro']">Novo</button>

      <button ID="btnSalvar" Class="btn btn-primary pull-left" [disabled]="!f.form.valid"
        (click)="salvar()">Salvar</button>
    </div>
    <br> <br>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">


          <div class="row" *ngIf="!isNew">
            <div class="col-xs-4 col-sm-4 col-md-1 col-lg-1">
              <h5>Código:</h5>
              <input type="text" disabled required [(ngModel)]="exame.exameId" ID="txtTitulo" name="exameId"
                class="form-control" placeholder="Código">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-6">


              <h5>Exame:</h5>
              <input type="text" [(ngModel)]="exame.descricao" required #descricao="ngModel" ID="txtDescricao"
                name="descricao" class="form-control" placeholder="Exame">

              <div *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)" style="color:red;">
                <li *ngIf="descricao.errors.required">
                  Descrição é um campo obrigatório.
                </li>
              </div>


              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                  <h5>Período em meses:</h5>
                  <input type="text" [(ngModel)]="exame.periodo" required #periodo="ngModel" ID="txtPeriodo"
                    name="periodo" class="form-control" placeholder="Período em Meses">

                  <div *ngIf="periodo.invalid && (periodo.dirty || periodo.touched)" style="color:red;">
                    <li *ngIf="periodo.errors.required">
                      Período é um campo obrigatório.
                    </li>
                  </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                  <h5>Valor Taxa:</h5>
                  <input currencyMask type="text" [(ngModel)]="exame.valorTaxa"
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required #taxa="ngModel" ID="txtTaxa"
                    name="taxa" class="form-control" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                    placeholder="Valor da Taxa">


                  <div *ngIf="taxa.invalid && (taxa.dirty || taxa.touched)" style="color:red;">
                    <li *ngIf="taxa.errors.required">
                      Taxa é um campo obrigatório.
                    </li>
                  </div>
                </div>

              </div>

              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h5>Ativo:</h5>
                <input type="checkbox" [(ngModel)]="exame.ativo" name="ativo">
              </div>

            </div>
          </div>
        </div>
      </div>
    
  </form>

</div>