<div class="breadcrumbs">
    <div class="breadcumb">
        <div class="col-md-12">
            <ul>
                <li>Cadastros</li>
                <li>Cadastro de Visitantes</li>
            </ul>
        </div>
    </div>
</div>
<div *ngIf="this.error" align="center">
    <div style="width:400px;margin-top:10px" class="alert alert-success">
        <table>
            <tr>
                <td><img src="/assets/imagens/exclamation.png" /></td>
                <td>
                    <h6 style="white-space:  pre;"><b>{{this.mensagem}}</b></h6>
                </td>
            </tr>
        </table>
    </div>
</div>

<div *ngIf="this.success" align="center">
    <div style="width:400px;margin-top:10px" class="alert alert-success">
        <table>
            <tr>
                <td><img src="/assets/imagens/success.png" /></td>
                <td>
                    <h6 style="white-space:  pre;"><b>{{this.mensagem}}</b></h6>
                </td>
            </tr>
        </table>
    </div>
</div>
<div *ngIf="boxBloqueio" align="center">
    <div class="container content">
        <div col-lg-8>
            <div class="col-md-12 search-add">
                <button ID="btnVoltar" Class="btn btn-primary pull-left" (click)="desbloquearAcesso()">Voltar Ao
                    Cadastro</button>

                <button ID="btnSalvar" *ngIf="permissions.btnCadastrar" Class="btn btn-primary pull-left"
                    (click)="cadastrarBloqueioFrequentadores()">Salvar</button>
            </div>
            <br>
            <hr>
            <br>

            <div class="col-lg-10 col-md-4 col-xs-12">

                <div class="col-lg-10 col-md-4 col-xs-12">
                    <h5>Nome do Frequentador:</h5>
                    <input [(ngModel)]="bloqueioFrequentadores.nome" disabled="" type="text" maxlength="80"
                        class="form-control" id="bloqueioNome" placeholder="Nome">
                </div>

                <div class="col-lg-5 col-md-4 col-xs-12">
                    <h5>CPF:</h5>
                    <input [(ngModel)]="bloqueioFrequentadores.cpf" disabled="" (keyup)="cpfcnpjmask()"
                        (keydown)="cpfcnpjmask()" maxlength="25" type="text" mask="000.000.000-00" type="text"
                        class="form-control" id="BloqueioCPF" placeholder="CPF">
                </div>

                <div class="col-lg-5 col-md-4 col-xs-12">
                    <h5>Tipo de Frequentador:</h5>
                    <input disabled="" value="Visitante" maxlength="25" type="text" type="text" class="form-control"
                        id="BloqueioCPF" placeholder="CPF">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
                    <h5>Bloqueado de:</h5>
                    <div class="input-group">

                        <input type='text' name="inicio"
                            [ngStyle]="{'backgroundColor': this.required == true ? 'LightSalmon' : '#FAFAD9' }"
                            ID="txtDataEnvioInicio"
                            (dateChanged)="bloqueioFrequentadores.dataInicio = ($event.jsdate != null ? $event.jsdate.toISOString() : '')"
                            #di="ngx-mydatepicker" placeholder="DD/MM/YYYY" ngx-mydatepicker #inicio="ngModel"
                            [(ngModel)]="dtInicio" class="form-control" [options]="{dateFormat: 'dd/mm/yyyy'}">
                        <span class="input-group-btn">
                            <input type="image" novalidate class="btn btn-default-calendar"
                                (click)="di.toggleCalendar()" src="assets/imagens/calendar.png">
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
                    <h5>Bloqueado até:</h5>
                    <div class="input-group">

                        <input type='text' name="fim"
                            [ngStyle]="{'backgroundColor': this.required == true ? 'LightSalmon' : '#FAFAD9' }"
                            ID="txtDataEnvioFim"
                            (dateChanged)="bloqueioFrequentadores.dataFim = ($event.jsdate != null ? $event.jsdate.toISOString() : '')"
                            #df="ngx-mydatepicker" placeholder="DD/MM/YYYY" ngx-mydatepicker #fim="ngModel"
                            [(ngModel)]="dtFim" class="form-control" [options]="{dateFormat: 'dd/mm/yyyy'}">
                        <span class="input-group-btn">
                            <input type="image" novalidate class="btn btn-default-calendar"
                                (click)="df.toggleCalendar()" src="assets/imagens/calendar.png">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-12">
                    <input [(ngModel)]="bloqueioFrequentadores.ativo" type="checkbox"
                        class="custom-control-input" id="ativo2" style="margin:0px">
                    <label class="custom-control-label" for="ativo2"
                        style="margin:0px; margin-left: 8px; font-weight: bold">Ativo</label>
                </div>

            </div>
            <div class="col-md-12 mb-12">
                <br>
                <label for="justifica">Justificativa de Bloqueio:
                    <br>
                </label>
                <textarea rows="10" [ngStyle]="{'backgroundColor': this.required == true ? 'LightSalmon' : '#FAFAD9' }"
                    [(ngModel)]="bloqueioFrequentadores.descricao" type="text" class="form-control" id="justifica"
                    placeholder="Justificativa de Bloqueio"></textarea>
            </div>
        </div>
    </div>
</div>

<div *ngIf="formularioPrincipal">
    <div class="container content">
        <div *ngIf="required" align="center">
            <div style="width:475px;margin-top:10px" class="alert alert-success">
                <table>
                    <tr>
                        <td><img src="/assets/imagens/exclamation.png" /></td>
                        <td>
                            <h6 style="white-space: pre;"><b>Não há registros para o critério de busca
                                    informado!</b>
                            </h6>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- LOADING DA PÁGINA -->
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
        </ngx-loading>
        <div class="col-md-12 search-add">
            <button ID="btnVoltar" Class="btn btn-primary pull-left" [routerLink]="['/operacional/visitantes']">Voltar
                para
                busca</button>

            <button ID="btnNovo" *ngIf="!isNew" Class="btn btn-primary pull-left" (click)="novo()">Novo</button>

            <button ID="btnSalvar" *ngIf="permissions.btnCadastrar" Class="btn btn-primary pull-left"
                (click)="cadastrarVisitante()">Salvar</button>

            <input type="button" *ngIf="!bloqueioFrequentadores.ativo && !isNew" (click)="bloquearAcesso()" value="Bloquear Acesso Visitante"
                id="btnBloquear" class="btn btn-primary pull-left" [disabled]="loading">

            <input type="button" *ngIf="bloqueioFrequentadores.ativo && !isNew" (click)="bloquearAcesso()" value="Desbloquear Acesso Visitante"
                id="btnBloquear" class="btn btn-primary pull-left" [disabled]="loading">

        </div>
        <br>
        <hr>
        <br>

        <div class="container content">
            <div>
                <!-- INICIO ROW -->
                <div class="row">
                    <!-- CONTEUDO PRIMEIRO CARD -->

                    <div class="col-md-8 order-md-1">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-10">
                            <h5>Nome:</h5>
                            <input [ngStyle]="{'backgroundColor': this.required == true ? 'LightSalmon' : '#FAFAD9' }"
                                type="text" maxlength="80" [(ngModel)]="visitante.nome" ID="txtNome" name="nome"
                                required="" class="form-control" placeholder="Nome">
                        </div>
                        <div *ngIf="submitted && f.nome.errors">
                            <div *ngIf="f.nome.errors.required">Este campo é obrigatório</div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-10">
                            <h5>CPF:</h5>
                            <input (keyup)="cpfcnpjmask()" (keydown)="cpfcnpjmask()" maxlength="25" type="text"
                                mask="000.000.000-00" placeholder="CPF" [(ngModel)]="visitante.cpf" ID="txtCpf"
                                name="cpf" class="form-control">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-10">
                            <h5>Sexo:</h5>
                            <select [ngStyle]="{'backgroundColor': this.required == true ? 'LightSalmon' : '#FAFAD9' }"
                                Class="form-control" [(ngModel)]="visitante.sexo" required="" name="sexo">
                                <option value="">Selecione...</option>
                                <option value="M">Masculino</option>
                                <option value="F">Feminino</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-10">
                            <h5>Data de Nascimento:</h5>
                            <div class="input-group">
                                <input
                                    [ngStyle]="{'backgroundColor': this.required == true ? 'LightSalmon' : '#FAFAD9' }"
                                    type="text" class="form-control" style="float:none" id="txtDataNascimento"
                                    maxlength="10"
                                    (dateChanged)="visitante.dataNascimento = ($event.jsdate != null ? $event.jsdate.toISOString() : '')"
                                    placeholder="DD/MM/YYYY" ngx-mydatepicker name="dataNascimento"
                                    [(ngModel)]="dtNascimento" [options]="myOptions" required=""
                                    #dp="ngx-mydatepicker" />
                                <span class="input-group-btn">
                                    <input type="image" novalidate class="btn btn-default-calendar"
                                        (click)="dp.toggleCalendar()" src="assets/imagens/calendar.png">
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-10">
                            <h5>Email:</h5>
                            <input type="text" maxlength="50" [(ngModel)]="visitante.email" ID="txtEmail" name="email"
                                class="form-control" placeholder="Email">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-10">
                            <h5>Telefone:</h5>
                            <input type="text" mask="(00)0000-00000" maxlength="50" [(ngModel)]="visitante.telefone"
                                ID="txtTelefone" name="telefone" class="form-control" placeholder="Telefone">
                        </div>

                    </div>
                    <!-- FIM CONREUDO PRIMEIRO CARD -->

                    <!-- CONTEUDO SEGUNDO CARD -->
                    <!-- INICIO DE FORM IMAGEM -->
                    <div class="col-md-4 order-md-2">
                        <!-- <h4 class="d-flex justify-content-between mb-3"> <span class="text-muted">Avatar</span> </h4> -->
                        <img class="img-fluid d-block img-thumbnail" style="width: 100%;vertical-align: middle;"
                            [src]="imgURL" onerror="this.src='../../../../assets/imagens/silhuetamasculina.png'">
                        <!-- https://static.pingendo.com/img-placeholder-3.svg -->

                        <div class="p-2 my-4" style="margin-top: 10px; margin-bottom:10px; padding-left: 27px">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <input type="file" id="fileAvatar" style="display: none" #file accept='image/*'
                                        (change)="preview(file.files)">
                                    <input type="button" (click)="OpenFile()" value="Alterar Imagem" id="btnAvatar"
                                        class="btn btn-secondary pull-left" style="width:100%">
                                </div>
                            </div>
                        </div>

                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between">
                                <div>
                                    <div class="custom-control custom-checkbox" style="margin-bottom: 10px">
                                        <input disabled="" type="checkbox" class="custom-control-input"
                                            [(ngModel)]="bloqueioFrequentadores.ativo" id="bloqueado"
                                            style="margin:0px">
                                        <label class="custom-control-label" for="bloqueado"
                                            style="margin:0px; margin-left: 8px; font-weight: bold">Bloqueado</label>
                                    </div>

                                    <div class="custom-control custom-checkbox" style="margin-bottom: 10px">
                                        <input type="checkbox" class="custom-control-input"
                                            [(ngModel)]="visitante.ativo" id="ativo" style="margin:0px">
                                        <label class="custom-control-label" for="ativo"
                                            style="margin:0px; margin-left: 8px; font-weight: bold">Ativo</label>
                                    </div>

                                    <div class="custom-control custom-checkbox" style="margin-bottom: 10px">
                                        <input type="checkbox" class="custom-control-input"
                                            [(ngModel)]="visitante.isento" id="isento" style="margin:0px">
                                        <label class="custom-control-label" for="isento"
                                            style="margin:0px; margin-left: 8px; font-weight: bold">Isento</label>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- FIM DE FORM IMAGEM -->
                    <!-- FIM CONTEUDO SEGUNDO CARD -->
                </div>
                <!-- FIM ROW -->
            </div>
            <!-- FIM DIV VAZIA -->
        </div>
    </div>

</div> <!-- FORMULARIO PRINCIPAL -->