/* You can add global styles to this file, and also import other style files */

@charset "utf-8";
/* CSS Document */
/*Annexus*/

.my-pagination /deep/ .ngx-pagination{
    padding-inline-start: 0px !important;
    margin-top: -20px !important;
}

.my-pagination /deep/ .ngx-pagination .current {
    
  }
  
.menu-large {
    position: static !important;
}

form-control .megamenu {
    padding: 15px 0px;
    left: 0 !important;
}

table .table-responsive {

}

.ngx-pagination {
    margin-left: 0;
    margin-bottom: 1rem;
    margin-top: 3px;
}

.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #ffa438 !important;
    color: #fefefe;
    cursor: default;
}

.caretController {
    display: none;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #e5e5e5;
    position: absolute;
    left: 35%;
    z-index: 9999;
}

.alertaCheckInOut {
    background-color: red!important;
    color: white!important;
}

.open > .caretController {
    display: block;
}

.nav ul > li ul li > a {
    /*border-bottom: 0px solid #fff !important;*/
}

.megamenu > li > ul {
    padding: 0;
    margin: 0;
}

    .megamenu > li > ul > li {
        list-style: none;
    }

        .megamenu > li > ul > li > a {
            display: block;
            clear: both;
            font-weight: normal;
            line-height: 1.428571429;
            color: #333333;
            white-space: normal;
        }

.ul > li > a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

.megamenu > li ul > li > a:hover,
.megamenu > li ul > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

ul.nav li.dropdown:hover {
    text-decoration: none;
    color: #262626;
    background-color: #e5e5e5;
    cursor: pointer;
}


.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
    color: #999999;
}

    .megamenu.disabled > a:hover,
    .megamenu.disabled > a:focus {
        text-decoration: none;
        background-color: transparent;
        background-image: none;
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        cursor: not-allowed;
    }

.nav ul > li ul li:first-child {
    border-top: 0px solid #f47920 !important;
    font-size: 16px;
    font-weight: bold;
}


@media (max-width: 768px) {
    .megamenu {
        margin-left: 0;
        margin-right: 0;
    }

        .megamenu > li {
            margin-bottom: 30px;
        }

            .megamenu > li:last-child {
                margin-bottom: 0;
            }

        .megamenu.dropdown-header {
            padding: 3px 15px !important;
        }


    .navigation .nav-primary.hasMenu:after {
        border-top: 0 solid #ff0000 !important;
        border-left: 8px solid transparent !important;
        border-right: 8px solid transparent !important;
        -webkit-transition: border 100ms linear !important;
        transition: border 100ms linear !important;
    }
}



.form-control txtPagamentos {
    border: 1px solid #ffa438;
    margin: 0px 0px 0px 0px;
    padding-top: 2px;
    padding-left: 6px;
}

.col-xs-12.col-sm-7.col-md-7.col-lg-7.marginreserva {
    margin-left: -60px !important;
}

@media (max-width: 780px) {
    .col-xs-12.col-sm-7.col-md-7.col-lg-7.marginreserva {
        margin-left: -15px !important;
    }
}


.divWaiting {
    position: absolute;
    background-color: #FAFAFA;
    z-index: 2147483647 !important;
    opacity: 0.8;
    overflow: hidden;
    text-align: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 20%;
}

.validationsummary-info {
    // background: //("../images/info.png") no-repeat 10px 10px;
    color: #ffffff;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 10px;
    min-height: 65px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 11px;
    font-family: Verdana;
    color: darkorange;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    text-align: left;
    max-width: 500px;
}

.validationsummary-error {
    // background: //("../images/error.png") no-repeat 10px 10px;
    color: #ffffff;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 10px;
    min-height: 65px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 11px;
    font-family: Verdana;
    color: darkorange;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    text-align: left;
    max-width: 500px;
}

.validationsummary-success {
    //background: //("../images/success.png") no-repeat 10px 10px;
    color: #ffffff;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 10px;
    min-height: 65px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 11px;
    font-family: Verdana;
    color: darkorange;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    text-align: left;
    max-width: 500px;
}

.validationsummary-question {
    //background: //("../images/question.png") no-repeat 10px 10px;
    color: #ffffff;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 10px;
    min-height: 65px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 11px;
    font-family: Verdana;
    color: darkorange;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    text-align: left;
    max-width: 500px;
}

.validationsummary-exclamation {
    //background: //("../images/exclamation.png") no-repeat 10px 10px;
    color: #ffffff;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 10px;
    min-height: 65px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 11px;
    font-family: Verdana;
    color: darkorange;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    text-align: left;
    max-width: 500px;
}

.validationsummary {
    //background: //("../images/exclamation.png") no-repeat 10px 10px;
    color: #ffffff;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 10px;
    min-height: 65px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 11px;
    font-family: Verdana;
    color: darkorange;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    text-align: left;
    max-width: 500px;
}

legend {
    font-size: 16px;
    margin-bottom: 10px;
    color: #ffa438;
    font-weight: bold;
}
/*GERAL*/
.clear {
    clear: both;
}

html, body {
    height: 100%;
}

body {
    border-top: 4px solid #f47920;
    font-family: 'inherit';
}

.wrapper {
    min-height: 100%;
    position: relative;
}

* html .wrapper {
    height: 100%;
}

.header {
    padding: 10px 0 15px 0;
    border-bottom: 1px solid #efefef;
}

    .header div select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 100%;
        height: 40px !important;
        line-height: 30px;
        border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        padding-left: 10px;
        margin-top: 10px;
        background: #fff;
        outline: 0;
        // background: transparent //(../images/menu.png)no-repeat center right;
        border: 0px;
        color: #fff;
    }

    .header img {
        height: 30px;
    }

.box {
    margin-top: 100px;
    padding: 30px;
    border: 1px solid #efefef;
    text-align: left;
}

    .box h2 {
        font-size: 24px;
        font-weight: 700;
        color: #f47920;
        text-transform: capitalize;
        margin-top: 0;
    }

    .box a {
        display: block;
        color: #f47920;
    }

.btn-default {
    background: #f69327;
    background-image: -webkit-linear-gradient(top, #f69327, #f26019);
    background-image: -moz-linear-gradient(top, #f69327, #f26019);
    background-image: -ms-linear-gradient(top, #f69327, #f26019);
    background-image: -o-linear-gradient(top, #f69327, #f26019);
    background-image: linear-gradient(to bottom, #f69327, #f26019);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    text-shadow: 1px 1px 2px #666666;
    font-family: inherit;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    border: solid #f4d9c6 1px;
    text-decoration: none;
    outline: 0 !important;
}

    .btn-default:hover {
        background: #f69327;
        background-image: -webkit-linear-gradient(top, #f69327, #f26019);
        background-image: -moz-linear-gradient(top, #f69327, #f26019);
        background-image: -ms-linear-gradient(top, #f69327, #f26019);
        background-image: -o-linear-gradient(top, #f69327, #f26019);
        background-image: linear-gradient(to bottom, #f69327, #f26019);
        -webkit-border-radius: 5;
        -moz-border-radius: 5;
        border-radius: 5px;
        text-shadow: 1px 1px 2px #666666;
        font-family: inherit;
        color: #ffffff;
        font-size: 18px;
        padding: 10px 20px 10px 20px;
        border: solid #f4d9c6 1px;
        text-decoration: none;
    }

    .btn-default:active {
        background: #f26019;
        background-image: -webkit-linear-gradient(top, #f26019, #f69327);
        background-image: -moz-linear-gradient(top, #f26019, #f69327);
        background-image: -ms-linear-gradient(top, #f26019, #f69327);
        background-image: -o-linear-gradient(top, #f26019, #f69327);
        background-image: linear-gradient(to bottom, #f26019, #f69327);
        text-decoration: none;
        border: solid #f4d9c6 1px;
        outline: 0 !important;
    }


.btn-primary {
    background: #f69327;
    background-image: -webkit-linear-gradient(top, #f69327, #f26019);
    background-image: -moz-linear-gradient(top, #f69327, #f26019);
    background-image: -ms-linear-gradient(top, #f69327, #f26019);
    background-image: -o-linear-gradient(top, #f69327, #f26019);
    background-image: linear-gradient(to bottom, #f69327, #f26019);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    text-shadow: 1px 1px 2px #666666;
    font-family: inherit;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    border: solid #f4d9c6 1px;
    text-decoration: none;
    outline: 0 !important;
}

    .btn-primary:hover {
        background: #f69327;
        background-image: -webkit-linear-gradient(top, #f69327, #f26019);
        background-image: -moz-linear-gradient(top, #f69327, #f26019);
        background-image: -ms-linear-gradient(top, #f69327, #f26019);
        background-image: -o-linear-gradient(top, #f69327, #f26019);
        background-image: linear-gradient(to bottom, #f69327, #f26019);
        -webkit-border-radius: 5;
        -moz-border-radius: 5;
        border-radius: 5px;
        text-shadow: 1px 1px 2px #666666;
        font-family: inherit;
        color: #ffffff;
        font-size: 18px;
        padding: 10px 20px 10px 20px;
        border: solid #f4d9c6 1px;
        text-decoration: none;
    }

    .btn-primary:active {
        background: #f26019;
        background-image: -webkit-linear-gradient(top, #f26019, #f69327);
        background-image: -moz-linear-gradient(top, #f26019, #f69327);
        background-image: -ms-linear-gradient(top, #f26019, #f69327);
        background-image: -o-linear-gradient(top, #f26019, #f69327);
        background-image: linear-gradient(to bottom, #f26019, #f69327);
        text-decoration: none;
        border: solid #f4d9c6 1px;
        outline: 0 !important;
    }




input[type="text"], input[type="password"] {
    padding: 0px 10px !important;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    color: #666;
    height: 25px;
    line-height: 25px;
}

select {
    height: 25px !important;
}

.box input[type="submit"] {
    display: block;
    text-transform: capitalize;
    font-weight: 700;
    width: 100%;
}

input[type="checkbox"] {
    vertical-align: middle;
}

.footer {
    background: #fff;
    margin-top: 50px;
    border-top: 1px solid #efefef;
    width: 100%;
    clear: both;
    display: block;
    position: absolute;
    bottom: 0;
}

    .footer p {
        padding: 10px;
        margin: 0;
    }

.btn-default {
    color: #002678;
    text-shadow: none;
    background: #ffa438 !important;
}

    .btn-default, .btn-default:hover, .btn-default:focus {
        padding: 5px 10px 5px 10px;
        margin-right: 5px;
        font-size: 12px;
    }

.btn-primary {
    color: #002678;
    text-shadow: none;
    background: #ffa438 !important;
}

    .btn-primary, .btn-primary:hover, .btn-primary:focus {
        padding: 5px 10px 5px 10px;
        margin-right: 5px;
        font-size: 12px;
    }
/*INNER PAGES*/
.header ul {
    text-style: none;
    text-align: right;
    padding: 0;
    margin: 0px 0 0 0;
    float: right;
}

    .header ul li ul {
        width: auto;
    }

    .header ul li {
        display: block;
        float: left;
        margin: 0 20px;
        text-align: right;
    }

        .header ul li a {
            font-size: 14px;
            // text-transform:;
            color: #f47920;
            text-decoration: none;
            outline: 0;
            font-weight: 700;
            padding-bottom: 12px;
        }
            /*.header ul li:last-child a {color:#666}*/
            .header ul li a:hover, .header ul li a:focus {
                text-decoration: none;
                outline: 0;
                color: #d3691c;
                border-bottom: 4px solid #f47920;
            }

.breadcrumbs {
    padding: 5px 0;
    background: #002678;
    min-height: 30px;
}

    .breadcrumbs h2 {
        margin: 0 0 5px 0;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        text-transform: capitalize;
    }

    .breadcrumbs ul {
        padding: 0;
        margin: 0;
    }

        .breadcrumbs ul li {
            display: inline-block;
            float: left;
            color: #fff;
            font-size: 14px;
            text-transform: none;
        }

            .breadcrumbs ul li:after {
                content: '»';
                margin: 0 5px 0 7px;
            }

            .breadcrumbs ul li:last-child:after {
                content: '';
            }

.content div > h2 {
    color: #f47920;
    font-size: 30px;
    font-weight: 700;
}

.content input[type="submit"] {
    text-transform: capitalize;
    font-weight: 700;
}
/*.treeview {padding:0;margin:0;list-style:none;margin-top:10px}*/
/*.treeview ul {display:none;list-style:none}*/
/*.treeview ul li {font-size:12px}*/
/*.treeview li.active ul {display:block}*/
.treeview li {
    color: #f47920;
    text-decoration: none;
    font-size: 15px;
    text-transform: capitalize;
    line-height: 22px;
    text-indent: 5px;
}

    .treeview li li {
        font-size: 12px;
    }
/*.treeview li a span {border:1px solid #efefef;padding:0px 7px 4px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.treeview li a:hover {color:#d66b1e}*/
.content {
    padding-bottom: 80px;
}

.search-add {
    padding: 15px 0px 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 0px;
}

    .search-add input[type="text"] {
        margin: 0;
        display: inline;
        width: 38%;
    }

    .search-add h4 {
        color: #f47920;
        font-weight: 600;
    }

.list-users tbody th {
    color: #f47920;
    font-weight: 800;
}

.list-users td, .list-users th {
    padding: 2px 5px !important;
    border: none !important;

}

    .list-users td i {
        color: #239dda;
    }

.list-users tr {
    border-bottom: 1px solid #ccc;
    height: 25px;
}

    .list-users tr th {
        background: #fff;
        color: #002678;
    }

    .list-users tr:nth-child(even) {
        background: #ffead0;
    }

    .list-users tr:nth-child(odd) {
        background: #fff;
    }
    //VERSAO ANTERIOR
    /*
    .list-users tr:nth-child(even) {
        background: #fff;
    }

    .list-users tr:nth-child(odd) {
        background: #ffead0;
    }
    */

.paginationTable, .paginationTable tr {
    background: #fafafa !important;
}

.form-control {
    border: 1px solid #ffa438;
    margin: 0px 0px 0px 0px;
    padding-top: 2px;
    padding-left: 6px;
}

/*.list-mapaocupacao tbody th {
    color: #f47920;
    font-weight: 800;
}

.list-mapaocupacao td, .list-mapaocupacao th {
    padding: 2px 5px !important;
    border: 1px solid black !important;
    color: #666;
}

    .list-mapaocupacao td i {
        color: #239dda;
    }

.list-mapaocupacao tr {
    border-bottom: 1px solid #ccc;
    height: 25px;
}

    .list-mapaocupacao tr th {
        background: #ffa438;
        color: #002678;
    }

    .list-mapaocupacao tr:nth-child(even) {
        background: #fff;
    }

    .list-mapaocupacao tr:nth-child(odd) {
        background: #ffead0;
    }*/



h5 {
    margin-bottom: 3px;
}
/* CORES */
.red, .red i {
    color: red !important;
}

.blue, .blue i {
    color: blue !important;
}

.green, .green i {
    color: green !important;
}

/* .nome-da-cor, .nome-da-cor i {color:nome-da-cor ou hexadecimal !important} */

@media (max-width: 480px) {
    .search-add input[type="text"] {
        margin: 0;
        display: block;
        width: 100%;
    }

    .search-add input[type="submit"] {
        margin: 10px 0;
        display: block;
        width: 100%;
    }
}
/*STYLE TEMPORARY FOR MENUS*/


@media (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        margin-top: 0;
    }
}

.dropdown-menu > li > a:hover {
    background-color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #f47920;
    font-weight: bold;
    text-align: left;
}

.nav ul > li {
    text-align: left;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #f47920;
}

.dropdown-menu > li > a {
    color: #f47920;
}

    .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
        color: #d3691c;
    }

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #f47920;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
            color: #d3691c;
        }
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #f47920;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:active {
    color: #f47920;
}



.nav {
}

    .nav ul > li {
        color: #ec7404;
    }



        .nav ul > li ul li {
            background: #fff;
        }

            .nav ul > li ul li:first-child {
                border-top: 4px solid #f47920;
            }

            .nav ul > li ul li > a {
                border-bottom: 1px solid #eee;
            }

// .submenu > a {
//     background: //(../images/icon-arrow.png) center 21px no-repeat;
// }

.nav ul > li ul li a:hover {
    border-bottom: 1px solid #eee;
}

.nav ul > li:hover ul {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.search-add {
    overflow: hidden;
}

.nav ul > li li {
    white-space: nowrap;
    width: auto;
    min-width: 100% !important;
}

    .nav ul > li li a {
        /*padding: 0 1.2em;*/
        text-decoration: none;
        height: 40px;
        line-height: 40px;
        text-transform: none;
        border-bottom: 1px solid #fff;
        font-size: 12px;
        font-weight: 200;
        text-align: left;
        /*text-transform: capitalize;*/
    }

    .nav ul > li li ul {
        left: 100%;
        top: -1px;
    }

.inputGroup label {
    width: 100%;
}

    .inputGroup label span {
        width: 100%;
        display: block;
        *display: inline;
        zoom: 1;
    }

.inputGroup input {
    display: inline-block !important;
    width: 100%;
}

.paginationTable {
    text-align: center;
    font-size: 12px;
    border: 0;
}

    .paginationTable td table tr {
        border-bottom: none !important;
    }

        .paginationTable td table tr td {
            padding: 2px 7px !important;
            display: inline-block;
            border: 1px solid #ccc !important;
            margin: 0 5px;
            cursor: pointer;
        }

            .paginationTable td table tr td.active {
                background: #fafafa !important;
            }

.buscar {
    margin-left: 20px;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}


/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    body {
        text-align: center;
    }

    .header .nav ul {
    }

    
    .table {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 0px;
    }

    .paginationTable {
        display: table;
    }

    .list-users {
        border: 0px;
    }

        .list-users td, .list-users tr, .list-users th, .list-users thead, .list-users tbody {
            display: block;
            vertical-align: central;
        }

        .list-users thead {
            display: inline-block;
            float: left;
        }

        .list-users td, .list-users th {
            height: auto;
            border-bottom: 1px solid #fff !important;
        }

        .list-users tbody tr:first-child {
            float: left;
        }

        .list-users tbody {
            width: auto;
            position: relative;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
            white-space: nowrap;
            height: 149px;
        }

            .list-users tbody tr {
                display: inline-block;
            }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    body {
        text-align: center;
    }

    .buscar {
        margin-left: 0px;
    }

    .header .nav ul {
    }

    .table {
        display: block;
        position: relative;
        width: 100%;
    }

    .list-users {
        border: 0px;
    }

        .list-users td, .list-users tr, .list-users th, .list-users thead, .list-users tbody {
            display: block;
        }

        .list-users td, .list-users th {
            height: auto;
            border-bottom: 1px solid #fff !important;
        }

        .list-users tbody tr:first-child {
            float: left;
        }

        .list-users tbody {
            width: auto;
            position: relative;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            white-space: nowrap;
        }

            .list-users tbody tr {
                display: inline-block;
            }

    .header img {
        margin-top: 12px;
    }
}

label {
    font-weight: normal;
}

.treeview {
    background: #fff;
    border: 1px solid #ffa438;
}

.PrincipalNode {
    display: block;
    /*position: relative;*/
    margin-bottom: 1px;
    background: #fff;
    color: #002678;
    width: 100%;
}

.ChildNode {
    color: #666;
    border-width: thin;
    width: 100%;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    /*margin-top: 0px;*/
    margin-left: 0px;
    /*padding-top: 0px;*/
    /*height: 20px;*/
    height: auto;
}

.bandeiraCartao {
}

    .bandeiraCartao:hover {
        border-color: #f60;
    }

.thumbnail {
    position: relative;
    height: 250px;
    overflow: hidden;
    padding: 0px;
    border-radius: 0px;
}

    .thumbnail img {
        min-height: 100%;
        /*width: 100%;*/
        max-width: none;
    }

.noquebralinha {
    white-space: nowrap;
    overflow: hidden;
}

.btnProcurar {
    margin-top: 26px;
    margin-left: 1px;
}

.btnProcurarTrocar {
    padding: 5px 10px 5px 10px;
    margin-left: 5px;
    /*margin-top: -4px;*/
}

.pnReservaTrocar {
    background-color: none;
}

.lblVisualizacao {
    color: #464646;
}

#CrystalReportViewer1_toptoolbar {
    height: 50px;
    padding: 5px;
}

#text_CrystalReportViewer1_toptoolbar_selectPg {
    line-height: 10px;
}

.alert-success {
    color: darkorange;
    background-color: white;
    border-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.alert-valores {
    color: #ffffff !important;
    font-weight: bold !important;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
    font-size: 11px !important;
    font-family: Verdana !important;
    color: darkorange !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: lightgray !important;
    text-align: left !important;
}

.dropdown-header {
    padding: 0 0 0 0;
}

label {
    margin-left: 20px;
}

.form-control-IntegerReserva {
    border: 1px solid #ffa438;
    margin: 0px 0px 0px 0px;
    padding-top: 2px;
    padding-left: 6px;
}

.form-control txtPagamentos {
    border: 1px solid #ffa438;
    margin: 0px 0px 0px 0px;
    padding-top: 2px;
    padding-left: 6px;
}



.btn-default-calendar {
    background: #FFA438 !important;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    border: solid #FFA438 1px;
    text-decoration: none;
    outline: 0 !important;
    text-shadow: none;
    width: 30px;
    height: 25px;
    padding: 3px 3px 3px 3px;
    margin: 0 0 0 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    font-size: 14px;
    font-weight: bold;
    color: #f47920;
}

.nav-tabs > li > a {
    color: #f47920;
}

.alert-info {
    color: #000000;
}

.nav > li > a {
    padding: 15px 10px !important;
}

/* INÍCIO CSS DO DASHBOARD DE ATENDIMENTO PÁGINAS: SECRETARIA(BUSCA), RECEPÇÃO(AMBULATÓRIO) REALIZAÇÃO DO EXAME MÉDICO(AMBULATÓRIO)*/

.ajusteolho{
    cursor:pointer; 
    padding-left:5px; 
    padding-top:5px; 
    float:right
}

.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.44);
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.card-stats .title {
    margin: 0;
    font-size: 40px;
    color: #f0ad4e;
    font-weight: bold;
    text-align: center;
}

.card-stats .card-header {
    float: left;
    text-align: center;
    margin: -20px 20px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.64);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

    .card-stats .card-header i {
        font-size: 36px;
        line-height: 76px;
        width: 76px;
        height: 76px;
    }

.card-stats .card-content {
    text-align: right;
    padding-top: 10px;
}

.card .card-content {
    padding: 10px 20px;
}

.card .card-content .category {
    margin-bottom: 0;
}

.card .card-header .category {
    margin-bottom: 0;
    color: rgba(240, 173, 78, 0);
}

.card .category .material-icons {
    position: relative;
    top: 6px;
    line-height: 0;
}

.card .card-footer {
    margin: 0 20px 10px;
    padding-top: 10px;
    border-top: 1px solid #eeeeee;
}

    .card .card-footer .content {
        display: block;
    }

    .card .card-footer div {
        display: inline-block;
    }

    .card .card-footer .author {
        color: #999999;
    }

    .card .card-footer .stats {
        line-height: 22px;
        color: #999999;
        font-size: 12px;
    }

        .card .card-footer .stats .material-icons {
            position: relative;
            top: 4px;
            font-size: 16px;
        }

.card .card-footer {
    font-size: 16px;
    text-align: center;
    color: darkblue;
    font-weight: bold;
}

.btn .material-icons {
    vertical-align: middle;
    font-size: 17px;
    top: -1px;
    position: relative;
}

.dashfooter {
    font-size: 15px;
    text-align: center;
    color: darkblue;
    font-weight: bold;
}

.material-icons {
    color: white;
}

.corazul {
    background-color: #34ADD9 !important;
}

.corlaranja {
    background-color: #f0ad4e;
}

.alinhar {
    color: gray;
    margin-top: -15px;
    position: absolute;
}


@media (min-width: 521px) and (max-width: 611px) {

    .card-stats .card-header {
        float: left;
        text-align: center;
        margin: -20px 20px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.64);
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }


    .card-stats .card-header i {
        font-size: 30px;
        line-height: 56px;
        text-align: center;
        width: 60px !important;
        height: 60px !important;
        padding-left:5px;
        padding-right:5px;
       
    }

    .card-stats .card-content h3{
        text-align: right;
        padding-top: 10px;
        padding-left: 10px;  
     }

}


@media (min-width: 460px) and (max-width: 521px) {

    .card-stats .card-header {
        float: left;
        text-align: center;
        margin: -20px 20px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.64);
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }


    .card-stats .card-header i {
        font-size: 30px;
        line-height: 56px;
        text-align: center;
        width: 55px !important;
        height: 55px !important;
        padding-left:5px;
        padding-right:5px;
        
        border-bottom-left-radius: 6px !important;
        border-bottom-right-radius: 6px !important;
        border-top-right-radius: 6px !important;
        border-top-left-radius: 6px !important;
    }

    .card-stats .card-content h3{
        text-align: right;
        padding-top: 10px;
        padding-left: 10px;  
     }

    .dashfooter {
        font-size: 13px;
        text-align: center;
        color: darkblue;
        font-weight: bold;
    }

}

@media  (max-width: 480px) {

    .card-stats .card-header {
        float: left;
        text-align: center;
        margin: -20px 13px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.64);
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }



    .card-stats .card-header i {
        font-size: 25px;
        text-align: center;
        width: 45px !important;
        height: 45px !important;
        margin-top: -10px;    
       
    }

    .material-icons {
    color: white;
    margin-bottom:10px!important;
    }
    .card-stats .card-content h3{
        font-size: 30px;
        text-align: center;
        padding-top: 25px;
        padding-left: 10px;  
        margin-left: -12px;
     }

    .dashfooter {
        font-size: 9px;
        white-space:nowrap;
        text-align: left;
        float:left;
        margin-left: -13px !important;  
        color: darkblue;
        font-weight: bold;
    }
    
    .card-stats .card-content {
        text-align: center;
        padding-top: 0px;
    }

    .card .card-content {
        padding: 5px 10px;
    }

}

@media  (max-width: 384px){
    
    .ajusteolho{
        cursor:pointer; 
        float:right;
        padding-left:0px;
    }
}

/* FIM DO CSS DO DASHBOARD DE ATENDIMENTO*/
.nav > li > div {
    position: relative;
    display: block;
    padding: 15px 0px;
}


@media(max-width:720px) {
    .nav > li > div {
        position: relative;
        display: block;
        padding: 15px 10px;
        text-align:left;
    }
}

:required {
    background-color: #FAFAD9 !important;
}


.mydp .selection,
.mydp .weekdaytitle,
.mydp .monthinput,
.mydp .yearinput {
    font-weight: normal !important;
}
.mydp .weekdaytitle {
    color: red !important;
}
.mydp,
.mydp .selectiongroup,
.mydp .selection,
.mydp .selector {
    border-radius: 4px !important;
}
.mydp .header {
    border-radius: 4px 4px 0 0 !important;
}
.mydp .caltable {
    border-radius: 0 0 4px 4px !important;
}
.mydp .caltable tbody tr:nth-child(6) td:first-child {
    border-bottom-left-radius: 4px !important;
}
.mydp .caltable tbody tr:nth-child(6) td:last-child {
    border-bottom-right-radius: 4px !important;
}
.mydp .btnpicker {
    border-radius: 0 4px 4px 0 !important;
}

//MODAL PAGAMENTO
.modal-dialog {
    max-width: 950px;
    width: auto;
}


