<div class="breadcrumbs">
  <div class="container">
    <div class="col-md-12">
      <ul>
        <li>Operações</li>
        <li>Gestão de WorkFlow</li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="this.error" align="center">
  <div style="width:400px;margin-top:10px" class="alert alert-success">
    <table>
      <tr>
        <td><img src="/assets/imagens/exclamation.png" /></td>
        <td>
          <h6 style="white-space:  pre;"><b>{{this.mensagem}}</b></h6>
        </td>
      </tr>
    </table>
  </div>
</div>

<div *ngIf="this.success" align="center">
  <div style="width:400px;margin-top:10px" class="alert alert-success">
    <table>
      <tr>
        <td><img src="/assets/imagens/success.png" /></td>
        <td>
          <h6 style="white-space:  pre;"><b>{{this.mensagem}}</b></h6>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="container content">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
  </ngx-loading>

  <div class="col-md-12 search-add">
    <button ID="btnBuscar" (click)="buscar()" Class="btn btn-primary pull-left">Buscar</button>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h5>Nome:</h5>
      <input type="text" maxlength="60" [(ngModel)]="associado.nome" ID="txtNome" name="nome" class="form-control"
        placeholder="Nome">
    </div>
  </div>
  <hr>
  <br>

  <table *ngIf="this.lstSpRetornaDependentesAprovacaoReprovacao.length > 0" class="table list-users" cellspacing="0"
    id="ContentPlaceHolder1_grdBusca" style="border-collapse:collapse;">
    <tbody>
      <tr style="color:#002678;">
        <th class="th-lg"><a style="color:#002678;"> </a></th>
        <th class="th-lg"><a style="color:#002678;">Alçada</a></th>
        <th class="th-lg"><a style="color:#002678;">Tipo</a></th>
        <th class="th-lg"><a style="color:#002678;">Nome</a></th>
        <th class="th-lg"><a style="color:#002678;">Data Nascimento</a></th>
        <th class="th-lg"><a style="color:#002678;">Grau Parentesco</a></th>
        <th class="th-lg"><a style="color:#002678;">Titular</a></th>
        <th class="th-lg"><a style="color:#002678;">Data</a></th>
        <th class="th-lg border-top-0" scope="col" abbr="Editar" style="width:5px;"></th>
        <th class="th-lg border-top-0" scope="col" abbr="Excluir" style="width:5px;"></th>
      </tr>

      <tr *ngFor="let item of this.lstSpRetornaDependentesAprovacaoReprovacao">
        <td>{{item.workFlowFluxoId}}</td>
        <td>{{item.alcada}}</td>
        <td>{{item.tipo}}</td>
        <td>{{item.nome}}</td>
        <td>{{item.dataNascimento | date: 'dd/MM/yyyy'}}</td>
        <td>{{item.grauParentesco}}</td>
        <td>{{item.titular}}</td>
        <td>{{item.dataFluxo | date: 'dd/MM/yyyy'}}</td>
        <td><a [routerLink]="['../../operacional/associados/cadastro/', item.associadoIdPai]" class="glyphicon glyphicon-eye-open"
            style="cursor: pointer; color: green"></a></td>
        <td><a [routerLink]="['encaminhar/',item.workFlowId]" class="glyphicon glyphicon-send"
            style="cursor: pointer"></a></td>

      </tr>

    </tbody>
  </table>
</div>