<div class="breadcrumbs">
  <div class="container">
    <div class="col-md-12">
      <ul>
        <li>Cadastros</li>
        <li>Cadastro de Categorias</li>
      </ul>
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
</ngx-loading>
<div class="container content">

  <div *ngIf="this.error" align="center">
    <div style="width:400px;margin-top:10px" class="alert alert-success" align="center">
      <table>
        <tr>
          <td><img src="/assets/imagens/exclamation.png" /></td>
          <td>
            <h6 style="white-space:  pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div *ngIf="this.success" align="center" class="alert alert-success">
    <div style="width:400px;margin-top:10px">
      <table>
        <tr>
          <td><img src="/assets/imagens/success.png" /></td>
          <td>
            <h6 style="white-space:  pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <form name="form" (ngSubmit)="f.form.valid" #f="ngForm">
    <div class="col-md-12 search-add">
      <button ID="btnVoltar" Class="btn btn-primary pull-left" [routerLink]="['/cadastros/tipo-itens']">Voltar
        para
        busca</button>

      <button ID="btnNovo" Class="btn btn-primary pull-left"
        [routerLink]="['/cadastros/tipo-itens/cadastro']">Novo</button>

      <button ID="btnSalvar" Class="btn btn-primary pull-left" [disabled]="!f.form.valid"
        (click)="salvar()">Salvar</button>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">


          <div class="row" *ngIf="!isNew">
            <div class="col-xs-4 col-sm-1 col-md-2 col-lg-1">
              <h5>Código:</h5>
              <input type="text" disabled required [(ngModel)]="bloqueioQuiosque.tipoItemId" ID="txtTitulo"
                name="tipoItemId" class="form-control" placeholder="Código">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

              <h5>Descrição:</h5>
              <input type="text" [(ngModel)]="bloqueioQuiosque.descricao" required #descricao="ngModel"
                ID="txtdescricao" name="descricao" class="form-control" placeholder="Descrição">

              <div *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)" style="color:red;">
                <li *ngIf="descricao.errors.required">
                  Descrição é um campo obrigatório.
                </li>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h5>Ativo:</h5>
                <input type="checkbox" [(ngModel)]="bloqueioQuiosque.ativo" name="ativo">
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </form>
</div>