<div class="breadcrumbs">
  <div class="container">
    <div class="col-md-12">
      <ul>
        <li>Cadastros</li>
        <li>Cadastro de Locais de Acesso</li>
      </ul>
    </div>
  </div>
</div>
<div class="container content">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
  </ngx-loading>
  <div *ngIf="required" align="center">
    <div style="width:475px;margin-top:10px" class="alert alert-success">
      <table>
        <tr>
          <td><img src="/assets/imagens/exclamation.png" /></td>
          <td>
            <h6 style="white-space: pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div *ngIf="success" align="center">
    <div style="width:475px;margin-top:10px" class="alert alert-success">
      <table>
        <tr>
          <td><img src="/assets/imagens/success.png" /></td>
          <td>
            <h6 style="white-space: pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div *ngIf="erro" align="center">
    <div style="width:475px;margin-top:10px" class="alert alert-success">
      <table>
        <tr>
          <td><img style="width:42px" src="/assets/imagens/exclamation.png" /></td>
          <td>
            <h6 style="white-space: pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>



  <div id="locaisAcessoConfirmarDelecao" *ngIf="confirmarDelecao">
    <div align="center" class="col-md-12 search-add">
      <table>
        <tr>
          <td>
            <button ID="btnConfirmarDelecaoSim" (click)="Deletar()" Class="btn btn-primary pull-left">Sim</button>
            <button ID="btnConfirmarDelecaoNaO" (click)="NaoDeletar()" Class="btn btn-primary pull-left">Não</button>
          </td>
        </tr>
      </table>
    </div>
  </div>





  <div id="locaisAcessoFormularioPrincipal" *ngIf="formularioPrincipal">
    <div class="col-md-12 search-add">
      <button ID="btnVoltar" Class="btn btn-primary pull-left" [routerLink]="['/cadastros/locais-acesso']">Voltar para
        busca</button>
      <button ID="btnSalvar" (click)="cadastrarLocalAcesso()" Class="btn btn-primary pull-left">Salvar</button>
    </div>

    <br>
    <hr>
    <br>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
        <h5>Código:</h5>
        <input type="text" disabled [(ngModel)]="locaisAcesso.localAcessoId" ID="txtCodigo" name="codigo" mask="00000"
          class="form-control" placeholder="Código">
      </div>
    </div>

    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h5>Chave:</h5>
        <input maxlength="50" type="text" [attr.disabled]="desabilitarCamposInsercao == true ? 'true' : null"
          [(ngModel)]="locaisAcesso.chave" ID="txtchave" name="chave" class="form-control" placeholder="Chave">
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h5>Unidade:</h5>
        <select id="txtUnidades" [ngStyle]="{'backgroundColor': this.required == true ? 'LightSalmon' : '#FAFAD9' }"
          Class="form-control" [attr.disabled]="desabilitarCamposInsercao == true ? 'true' : null"
          [(ngModel)]="locaisAcesso.sedeId" name="ativo">
          <!-- <option value="0">Selecione...</option> -->
          <option [selected]="(item.sedeId == this.selected)" *ngFor="let item of this.sedes" [value]="item.sedeId">
            {{item.titulo}}</option>
        </select>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h5>Descrição:</h5>
        <input maxlength="50" type="text" [(ngModel)]="locaisAcesso.descricao" ID="txtDescricao" name="descricao"
          class="form-control" [ngStyle]="{'backgroundColor': this.required == true ? 'LightSalmon' : '#FAFAD9' }"
          placeholder="Descrição">
      </div>

      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h5>Idade Máxima:</h5>
        <select Class="form-control" [(ngModel)]="locaisAcesso.idadeMinima" name="idadeMinima">
          <option *ngFor="let number of itemQuantity" value="{{number}}">{{number}}</option>
        </select>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h5>Idade Mínima:</h5>
        <select Class="form-control" [(ngModel)]="locaisAcesso.idadeMaxima" name="idadeMaxima">
          <option *ngFor="let number of itemQuantity" value="{{number}}">{{number}}</option>
        </select>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h5>Qtd Máxima de Pessoas:</h5>
        <input maxlength="8" (keyup)="Mascara()" (keydown)="Mascara()" type="text"
          [(ngModel)]="locaisAcesso.qtdMaxVisitante" ID="txtQtdVisitantes" name="txtQtdVisitantes"
          [ngStyle]="{'backgroundColor': this.required == true ? 'LightSalmon' : '#FAFAD9' }" style="width:120px"
          class="form-control" placeholder="Qtd Máxima">
      </div>

      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h5>Valor Taxa (Vigente):</h5>
        <input [(ngModel)]="locaisAcesso.valorTaxaFormatado" type="text"
          [attr.disabled]="desabilitarCamposInsercao == true ? 'true' : null" ID="txtValorTaxa" name="valortaxa"
          (keyup)="Mascara()" maxlength="12" style="width:120px" class="form-control" placeholder="Valor Taxa">
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h5>Qtd Máxima de Visitantes por colaborador:</h5>
        <table>
          <tr>
            <td>
              <input maxlength="8" (keyup)="Mascara()" (keydown)="Mascara()" type="text"
                [(ngModel)]="locaisAcesso.qtdMaxPorColaborador" ID="txtQtdAssociados"
                [ngStyle]="{'backgroundColor': this.required == true ? 'LightSalmon' : '#FAFAD9' }" style="width:120px"
                name="txtQtdAssociados" class="form-control" placeholder="Qtd Máxima">
            </td>
            <td style="width:12px">

            </td>
            <td>
              <span>0 (zero) = Ilimitado</span>
            </td>
          </tr>
        </table>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <h5>Ativo</h5>
        <input type="checkbox" id="chkAtivo" [(ngModel)]="locaisAcesso.ativo" name="chkAtivo" />
      </div>
    </div>

    <br>
    <div class="row">
      <ul class="nav nav-tabs" role="tablist">
        <li (click)="tabExame()" role="presentation" [(ngClass)]="exameCss"><a id="paneExame" aria-controls="exames"
            role="tab" data-toggle="tab">Exames</a></li>
        <li (click)="tabTaxa()" role="presentation" [(ngClass)]="taxaCss"><a id="paneTaxas" aria-controls="taxas"
            role="tab" data-toggle="tab">Taxas</a></li>
      </ul>
    </div>








    <div class="row" *ngIf="exibirTabExame" align="center">
      <br />
      <table *ngIf="this.lstExames.length > 0" class="table list-users" cellspacing="0"
        style="border-collapse:collapse; width:1146px">
        <tbody>

          <tr style="color:#002678;">
            <th class="th-lg"><a style="color:#002678;">Exame</a></th>
            <th class="th-lg border-top-0" scope="col" abbr="Excluir" style="width:5px;"></th>
          </tr>

          <tr *ngFor="let item of this.lstExames">
            <td>{{item.nomeExame}}</td>
            <!-- <td>{{item.sede}}</td>
                <td>{{item.descricao}}</td> -->

            <td><a (click)="ConfirmarDelecao(item.exameId, true, '', '')" class="glyphicon glyphicon-remove"
                style="color:red; cursor: pointer"></a></td>
          </tr>

        </tbody>
      </table>

      <button *ngIf="exibirBotaoIncluir" ID="btnIncluirExame" Class="btn btn-primary pull-left"
        (click)="IncluirExame()">Incluir Exame</button>
    </div>






    <div class="row" *ngIf="exibirTabTaxa" align="center">
      <br />
      <table *ngIf="this.lstTaxas.length > 0" class="table list-users" cellspacing="0"
        style="border-collapse:collapse; width:1146px">
        <tbody>

          <tr style="color:#002678;">
            <th class="th-lg"><a style="color:#002678;">Valor Taxa</a></th>
            <th class="th-lg"><a style="color:#002678;">Data Início</a></th>
            <th class="th-lg"><a style="color:#002678;">Usuário Responsável</a></th>
            <th class="th-lg border-top-0" scope="col" abbr="Excluir" style="width:5px;"></th>
          </tr>

          <tr *ngFor="let item of this.lstTaxas">
            <td>{{item.valorTaxaFormatado}}</td>
            <td>{{item.dataInicioFormatado}}</td>
            <td>{{item.usuarioResponsavel}}</td>
            <td><a
                (click)="ConfirmarDelecao(item.localAcessoValorId, false, item.valorTaxaFormatado, item.dataInicioFormatado)"
                class="glyphicon glyphicon-remove" style="color:red; cursor: pointer"></a></td>
          </tr>

        </tbody>
      </table>
      <button ID="btnIncluirTaxa" Class="btn btn-primary pull-left" (click)="IncluirTaxa()">Incluir Taxa</button>
    </div>
  </div>








  <div id="locaisAcessoExames" *ngIf="incluirExame">
    <div class="col-md-12 search-add">
      <br>
      <button ID="btnExameVoltar" Class="btn btn-primary pull-left" (click)="Voltar()">Voltar</button>
      <button ID="btnExameSalvar" Class="btn btn-primary pull-left" (click)="SalvarExame()">Salvar</button>
      <br>
    </div>


    <div align="left">
      <table *ngIf="this.lstAllExames.length > 0" class="table list-users" cellspacing="0"
        style="border-collapse:collapse; width:1146px">
        <tbody>

          <tr style="color:#002678;">
            <th class="th-lg"></th>
            <th class="th-lg"><a style="color:#002678;">Código</a></th>
            <th class="th-lg"><a style="color:#002678;">Exame</a></th>
            <th class="th-lg"><a style="color:#002678;">Impede Entrada</a></th>
          </tr>

          <tr *ngFor="let item of this.lstAllExames">
            <td style="width:12px">
              <input type="checkbox" [(ngModel)]="item.exameLocalAcesso">
            </td>
            <td align="center" style="width:55px">{{item.exameId}}</td>
            <td>{{item.descricao}}</td>
            <td align="center" style="width:155px">
              <input type="checkbox" [(ngModel)]="item.impedeEntrada">
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>






  <div id="locaisAcessoTaxas" *ngIf="incluirTaxa">
    <div class="col-md-12 search-add">
      <br>
      <button ID="btnTaxaVoltar" Class="btn btn-primary pull-left" (click)="Voltar()">Voltar</button>
      <button ID="btnTaxaNovo" Class="btn btn-primary pull-left" (click)="Novo()">Novo</button>
      <button ID="btnTaxaSalvar" (click)="SalvarTaxa()" Class="btn btn-primary pull-left">Salvar</button>
      <br>
    </div>


    <div align="left">
      <table style="width:100%">
        <tr>
          <td style="width:282px">
            <h5>Local de Acesso:</h5>
            <input disabled type="text" ID="txtDescricao" name="txtDescricao" style="width:255px" class="form-control"
              placeholder="Local de Acesso">
          </td>
          <td>
            <h5>Valor Vigente:</h5>
            <input style="width:100px" disabled type="text" [(ngModel)]="locaisAcesso.valorTaxaFormatado"
              ID="txtqtdAssociados" name="qtdqtdAssociados" class="form-control" placeholder="Valor">
          </td>
        </tr>


        <tr>
          <td style="width:282px">
            <h5>Novo Valor:</h5>
            <input (keyup)="Mascara()" maxlength="12" type="text" ID="txtNovoValor" name="txtNovoValor"
              [ngStyle]="{'backgroundColor': this.required == true ? 'LightSalmon' : '#FAFAD9' }" style="width:255px"
              class="form-control" placeholder="Valor">
          </td>
          <td>
            <h5>Data de Inicio:</h5>
            <input (keyup)="Mascara()" maxlength="10" type="text" ID="txtDataInicio" name="txtDataInicio"
              [ngStyle]="{'backgroundColor': this.required == true ? 'LightSalmon' : '#FAFAD9' }" style="width:255px"
              class="form-control" placeholder="">
          </td>
        </tr>

        <tr>
          <td>
            <br>
            Ativo:&nbsp;&nbsp;<input disabled checked="checked" type="checkbox">
          </td>
          <td>

          </td>
        </tr>
      </table>
    </div>
  </div>








  <br /><br /><br /><br /><br />



</div>