<div class="breadcrumbs">
  <div class="container">
    <div class="col-md-12">
      <ul>
        <li>Cadastros</li>
        <li>Cadastro de Feriados</li>
      </ul>
    </div>
  </div>
</div>

<div class="container content">

  <div *ngIf="this.error" align="center">
    <div style="width:400px;margin-top:10px" class="alert alert-success" align="center">
      <table>
        <tr>
          <td><img src="/assets/imagens/exclamation.png" /></td>
          <td>
            <h6 style="white-space:  pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div *ngIf="this.success" align="center" class="alert alert-success">
    <div style="width:400px;margin-top:10px">
      <table>
        <tr>
          <td><img src="/assets/imagens/success.png" /></td>
          <td>
            <h6 style="white-space:  pre;"><b>{{mensagem}}</b></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>


  <form name="form" (ngSubmit)="f.form.valid" #f="ngForm">
    <div _ngcontent-c5="" class="col-md-12 search-add">
      <button _ngcontent-c5="" class="btn btn-primary pull-left" id="btnVoltar" tabindex="0"
        [routerLink]="['/cadastros/adm-feriados']">
        Voltar para busca
      </button>

      <button ID="btnCadastrar" Class="btn btn-primary pull-left" [routerLink]="['../']" *ngIf="!this.isNew">
        Novo</button>

      <button [disabled]="!f.form.valid" *ngIf="isNew == true" (click)="salvar()" class="btn btn-primary pull-left"
        id="btnSalvar">Salvar</button>

      <button *ngIf="isNew == false" (click)="salvar()" class="btn btn-primary pull-left" id="btnSalvar">Salvar</button>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        <h5 *ngIf="isNew == true">Unidades:</h5>
        <div class="box-unidades" *ngIf="isNew == true">
          <div *ngFor="let item of sedes">
            <input type="checkbox" class="checkbox-unidades" (click)="selecionar(item.sedeId)" name="unidades">
            {{item.titulo}}
          </div>
        </div>

        <div *ngIf="isNew == false">
          <h5>Código:</h5>
          <input type="text" disabled [(ngModel)]="bloqueioQuiosque.feriadoId" ID="codigo" name="codigo"
            class="form-control" placeholder="Código">

          <h5>Unidade:</h5>
          <select Class="form-control" disabled [(ngModel)]="bloqueioQuiosque.sedeId"
            (change)="carregaBlocos($event.target.value)" name="Unidade">
            <option value="">Selecione...</option>
            <option *ngFor="let item of this.sedes" [value]="item.sedeId">{{item.titulo}}</option>
          </select>
        </div>


        <h5>Data de Início:</h5>
        <div class="input-group">

          <input type='text' name="inicio"
            (dateChanged)="bloqueioQuiosque.data = ($event.jsdate != null ? $event.jsdate.toISOString() : '')"
            #di="ngx-mydatepicker" placeholder="DD/MM/YYYY" ngx-mydatepicker #inicio="ngModel" [(ngModel)]="dataInicio"
            class="form-control" [options]="{dateFormat: 'dd/mm/yyyy'}">
          <span class="input-group-btn">
            <input type="image" novalidate class="btn btn-default-calendar" (click)="di.toggleCalendar()"
              src="assets/imagens/calendar.png">
          </span>
        </div>

        <h5>Descrição:</h5>
        <input type="text" [(ngModel)]="bloqueioQuiosque.descricao" ID="descricao" name="descricao" class="form-control"
          #descricao="ngModel" placeholder="Descrição">

        <h5>Ativo:</h5>
        <input type="checkbox" [(ngModel)]="bloqueioQuiosque.ativo" name="ativo">

      </div>

    </div>
  </form>